In [1]:
import pandas  as pd
import numpy as np

In [2]:
# pd.options.display.max_columns = none
# pd.options.display.max_rows = none
# pd.reset_option(display.max_rows)
# pd.reset_option(display.max_columns)

In [3]:
df=pd.read_csv(r"C:\Users\acer\Desktop\Python\airline_logical_data.csv")
df

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
0,8498,SpiceJet,ATR72,CCU,MAA,2023-06-12,1384.0,3.094867,2963.516704,3828.490167,Cloudy,0.000000,62
1,5263,IndiGo,A320,AMD,PNQ,2023-09-21,519.0,NaN,2912.486246,1790.502002,Cloudy,27.908655,119
2,1877,GoAir,B737,CCU,DEL,2023-11-30,1423.0,2.112585,2177.869901,5122.704201,Cloudy,26.339672,122
3,1598,GoAir,B737,AMD,HYD,2023-06-30,907.0,1.515557,2204.381503,3289.369504,Cloudy,13.771963,143
4,2722,GoAir,ATR72,HYD,PNQ,2023-10-24,529.0,1.717573,2321.112931,1543.099700,Clear,18.920403,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102995,2098,GoAir,A321,CCU,AMD,2023-12-06,1753.0,2.531112,2995.180173,6435.115093,Clear,7.730974,195
102996,1978,GoAir,A321,AMD,PNQ,2023-07-21,519.0,1.137145,2971.397586,2030.405612,Clear,3.564183,158
102997,7474,Air India,A320,DEL,DEL,2023-08-29,0.0,0.500000,3380.840213,500.000000,Clear,0.000000,93
102998,2248,IndiGo,B777,MAA,PNQ,2023-07-17,933.0,1.425115,3542.425616,3908.780885,Rainy,27.970932,243
102999,6529,SpiceJet,ATR72,BOM,MAA,2023-05-23,1056.0,2.655092,2963.984721,2977.489964,Foggy,88.251829,65

In [4]:
df.head(10)

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
0,8498,SpiceJet,ATR72,CCU,MAA,2023-06-12,1384.0,3.094867,2963.516704,3828.490167,Cloudy,0.000000,62
1,5263,IndiGo,A320,AMD,PNQ,2023-09-21,519.0,NaN,2912.486246,1790.502002,Cloudy,27.908655,119
2,1877,GoAir,B737,CCU,DEL,2023-11-30,1423.0,2.112585,2177.869901,5122.704201,Cloudy,26.339672,122
3,1598,GoAir,B737,AMD,HYD,2023-06-30,907.0,1.515557,2204.381503,3289.369504,Cloudy,13.771963,143
4,2722,GoAir,ATR72,HYD,PNQ,2023-10-24,529.0,1.717573,2321.112931,1543.099700,Clear,18.920403,40
5,4327,SpiceJet,A321,HYD,MAA,2023-02-23,516.0,NaN,3191.624024,1897.068230,Cloudy,10.805819,166
6,7670,IndiGo,B777,CCU,BLR,2023-02-02,1601.0,2.179993,4062.407214,6760.325458,Clear,16.373260,312
7,4562,IndiGo,B777,DEL,PNQ,2023-08-02,1186.0,1.839446,3556.615821,4978.035533,Clear,0.000000,279
8,1950,SpiceJet,A320,BOM,MAA,2023-04-27,1056.0,1.769989,2950.431896,3820.966178,Cloudy,14.285974,126
9,1612,Air India,B777,HYD,BOM,2023-02-10,650.0,1.124882,3898.783497,2748.086239,Clear,0.000000,275

In [5]:
df.tail(10)

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
102990,5721,Air India,ATR72,DEL,AMD,2023-07-05,806.0,2.069812,3430.663306,2152.472051,Clear,16.613167,53
102991,5880,GoAir,A321,BOM,BLR,2023-06-17,856.0,1.408556,2905.163118,3218.775649,Cloudy,0.000000,156
102992,5006,IndiGo,ATR72,PNQ,AMD,2023-10-29,519.0,1.557797,3037.316965,1463.911320,Clear,20.466009,54
102993,5730,GoAir,ATR72,MAA,AMD,2023-08-01,1395.0,3.140030,2322.841620,3849.760336,Foggy,38.650092,57
102994,2368,IndiGo,ATR72,AMD,HYD,2023-05-16,NaN,NaN,3097.782498,2485.684265,Clear,31.270984,61
102995,2098,GoAir,A321,CCU,AMD,2023-12-06,1753.0,2.531112,2995.180173,6435.115093,Clear,7.730974,195
102996,1978,GoAir,A321,AMD,PNQ,2023-07-21,519.0,1.137145,2971.397586,2030.405612,Clear,3.564183,158
102997,7474,Air India,A320,DEL,DEL,2023-08-29,0.0,0.500000,3380.840213,500.000000,Clear,0.000000,93
102998,2248,IndiGo,B777,MAA,PNQ,2023-07-17,933.0,1.425115,3542.425616,3908.780885,Rainy,27.970932,243
102999,6529,SpiceJet,ATR72,BOM,MAA,2023-05-23,1056.0,2.655092,2963.984721,2977.489964,Foggy,88.251829,65

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 103000 entries, 0 to 102999
Data columns (total 13 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   Flight_Number      103000 non-null  int64
 1   Airline            103000 non-null  object
 2   Aircraft_Type      103000 non-null  object
 3   Origin             103000 non-null  object
 4   Destination        103000 non-null  object
 5   Date               103000 non-null  object
 6   Distance_km        99923 non-null   float64
 7   Duration_hours     98884 non-null   float64
 8   Ticket_Price       97864 non-null   float64
 9   Fuel_Cost          99919 non-null   float64
 10  Weather_Condition  103000 non-null  object
 11  Delay_minutes      100939 non-null  float64
 12  Passenger_Count    103000 non-null  int64
dtypes: float64(5), int64(2), object(6)
memory usage: 10.2+ MB

In [7]:
df.shape

(103000, 13)

In [8]:
df.size

1339000

In [9]:
df.ndim

2

In [10]:
df.columns

Index(['Flight_Number', 'Airline', 'Aircraft_Type', 'Origin', 'Destination',
       'Date', 'Distance_km', 'Duration_hours', 'Ticket_Price', 'Fuel_Cost',
       'Weather_Condition', 'Delay_minutes', 'Passenger_Count'],
      dtype='object')

In [11]:
df.columns.tolist()

['Flight_Number',
 'Airline',
 'Aircraft_Type',
 'Origin',
 'Destination',
 'Date',
 'Distance_km',
 'Duration_hours',
 'Ticket_Price',
 'Fuel_Cost',
 'Weather_Condition',
 'Delay_minutes',
 'Passenger_Count']

In [12]:
df.index

RangeIndex(start=0, stop=103000, step=1)

In [13]:
df.dtypes

Flight_Number          int64
Airline               object
Aircraft_Type         object
Origin                object
Destination           object
Date                  object
Distance_km          float64
Duration_hours       float64
Ticket_Price         float64
Fuel_Cost            float64
Weather_Condition     object
Delay_minutes        float64
Passenger_Count        int64
dtype: object

In [14]:
df.columns

Index(['Flight_Number', 'Airline', 'Aircraft_Type', 'Origin', 'Destination',
       'Date', 'Distance_km', 'Duration_hours', 'Ticket_Price', 'Fuel_Cost',
       'Weather_Condition', 'Delay_minutes', 'Passenger_Count'],
      dtype='object')

In [15]:
df.head()

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
0,8498,SpiceJet,ATR72,CCU,MAA,2023-06-12,1384.0,3.094867,2963.516704,3828.490167,Cloudy,0.000000,62
1,5263,IndiGo,A320,AMD,PNQ,2023-09-21,519.0,NaN,2912.486246,1790.502002,Cloudy,27.908655,119
2,1877,GoAir,B737,CCU,DEL,2023-11-30,1423.0,2.112585,2177.869901,5122.704201,Cloudy,26.339672,122
3,1598,GoAir,B737,AMD,HYD,2023-06-30,907.0,1.515557,2204.381503,3289.369504,Cloudy,13.771963,143
4,2722,GoAir,ATR72,HYD,PNQ,2023-10-24,529.0,1.717573,2321.112931,1543.099700,Clear,18.920403,40

In [16]:
df.tail()

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
102995,2098,GoAir,A321,CCU,AMD,2023-12-06,1753.0,2.531112,2995.180173,6435.115093,Clear,7.730974,195
102996,1978,GoAir,A321,AMD,PNQ,2023-07-21,519.0,1.137145,2971.397586,2030.405612,Clear,3.564183,158
102997,7474,Air India,A320,DEL,DEL,2023-08-29,0.0,0.500000,3380.840213,500.000000,Clear,0.000000,93
102998,2248,IndiGo,B777,MAA,PNQ,2023-07-17,933.0,1.425115,3542.425616,3908.780885,Rainy,27.970932,243
102999,6529,SpiceJet,ATR72,BOM,MAA,2023-05-23,1056.0,2.655092,2963.984721,2977.489964,Foggy,88.251829,65

In [17]:
df["Airline"].value_counts()

Airline
Air India    20844
GoAir        20552
Vistara      20552
SpiceJet     20536
IndiGo       20516
Name: count, dtype: int64

In [18]:
df["Airline"].nunique()

5

In [19]:
df["Airline"]

0          SpiceJet
1            IndiGo
2             GoAir
3             GoAir
4             GoAir
            ...
102995        GoAir
102996        GoAir
102997    Air India
102998       IndiGo
102999     SpiceJet
Name: Airline, Length: 103000, dtype: object

In [20]:
df[["Airline","Aircraft_Type"]]

          Airline Aircraft_Type
0        SpiceJet         ATR72
1          IndiGo          A320
2           GoAir          B737
3           GoAir          B737
4           GoAir         ATR72
...           ...           ...
102995      GoAir          A321
102996      GoAir          A321
102997  Air India          A320
102998     IndiGo          B777
102999   SpiceJet         ATR72

[103000 rows x 2 columns]

In [21]:
df.isna().value_counts()

Flight_Number  Airline  Aircraft_Type  Origin  Destination  Date   Distance_km  Duration_hours  Ticket_Price  Fuel_Cost  Weather_Condition  Delay_minutes  Passenger_Count
False          False    False          False   False        False  False        False           False         False      False              False          False              86632
                                                                                                True          False      False              False          False               4583
                                                                                True            False         False      False              False          False               3614
                                                                                False           False         True       False              False          False               2684
                                                                   True         False           False         False      False              False          False               2660
                                                                   False        False           False         False      False              True           False               1762
                                                                                True            True          False      False              False          False                183
                                                                   True         False           True          False      False              False          False                136
                                                                   False        False           True          True       False              False          False                124
                                                                   True         True            False         False      False              False          False                115
                                                                   False        True            False         True       False              False          False                107
                                                                                False           True          False      False              True           False                 86
                                                                   True         False           False         True       False              False          False                 81
                                                                   False        True            False         False      False              True           False                 75
                                                                   True         False           False         False      False              True           False                 64
                                                                   False        False           False         True       False              True           False                 56
                                                                                True            True          True       False              False          False                  7
                                                                                False           True          True       False              True           False                  5
                                                                   True         True            False         True       False              False          False                  5
                                                                                False           True          True       False              False          False                  4
                                                                                True            True          False      False              False          False                  4
                                                                                False           False         True       False              True           False                  4
                                                                   False        True            False         True       False              True           False                  4
                                                                   True         False           True          False      False              True           False                  3
                                                                                True            False         False      False              True           False                  1
                                                                   False        True            True          False      False              True           False                  1
Name: count, dtype: int64

In [22]:
df.isnull().count()

Flight_Number        103000
Airline              103000
Aircraft_Type        103000
Origin               103000
Destination          103000
Date                 103000
Distance_km          103000
Duration_hours       103000
Ticket_Price         103000
Fuel_Cost            103000
Weather_Condition    103000
Delay_minutes        103000
Passenger_Count      103000
dtype: int64

In [23]:
df.isna().sum()

Flight_Number           0
Airline                 0
Aircraft_Type           0
Origin                  0
Destination             0
Date                    0
Distance_km          3077
Duration_hours       4116
Ticket_Price         5136
Fuel_Cost            3081
Weather_Condition       0
Delay_minutes        2061
Passenger_Count         0
dtype: int64

In [24]:
df[df.isna().any(axis=1)]

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
1,5263,IndiGo,A320,AMD,PNQ,2023-09-21,519.0,NaN,2912.486246,1790.502002,Cloudy,27.908655,119
5,4327,SpiceJet,A321,HYD,MAA,2023-02-23,516.0,NaN,3191.624024,1897.068230,Cloudy,10.805819,166
12,1289,Vistara,B777,CCU,PNQ,2023-04-21,1671.0,NaN,4959.089625,7032.822873,Rainy,61.485096,326
19,6456,Vistara,A320,CCU,PNQ,2023-04-02,1671.0,NaN,4076.351133,5810.759696,Cloudy,20.320287,148
27,2665,IndiGo,ATR72,BOM,BOM,2023-09-06,0.0,0.500000,3074.270830,NaN,Cloudy,0.000000,29
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102974,8047,Vistara,B777,AMD,CCU,2023-08-08,1753.0,2.533563,5143.983572,NaN,Cloudy,27.171770,252
102979,1267,IndiGo,ATR72,HYD,BOM,2023-03-07,NaN,1.888651,3009.473621,1883.571438,Rainy,27.868114,43
102982,4639,Air India,B777,MAA,AMD,2023-03-25,1395.0,NaN,4040.416971,5800.302084,Clear,8.787268,255
102983,1751,GoAir,B777,PNQ,BLR,2023-10-14,742.0,1.256462,3095.667634,NaN,Cloudy,0.000000,236
102994,2368,IndiGo,ATR72,AMD,HYD,2023-05-16,NaN,NaN,3097.782498,2485.684265,Clear,31.270984,61

In [25]:
df.duplicated().sum()

3000

In [26]:
df[df.duplicated()]

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
1286,3055,Vistara,A320,DEL,BOM,2023-01-20,1167.0,1.914558,4150.294425,4123.110377,Clear,22.638000,141
1379,2190,Air India,B777,BLR,CCU,2023-03-19,1601.0,2.103546,4289.941626,6709.481373,Cloudy,27.415565,295
1651,6031,GoAir,B737,MAA,MAA,2023-12-12,0.0,0.655112,2373.115523,500.000000,Clear,37.598448,80
2039,6826,SpiceJet,B777,BOM,MAA,2023-11-11,1056.0,1.488151,3256.611688,4529.720697,Rainy,58.270323,269
5034,5690,Air India,ATR72,BOM,BOM,2023-03-12,0.0,0.813064,3267.071653,500.000000,Clear,0.000000,36
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102908,8190,Air India,A321,AMD,MAA,2023-01-19,1395.0,2.098423,4019.083340,5167.749209,Clear,3.121377,181
102930,4111,IndiGo,B777,HYD,AMD,2023-09-25,907.0,1.548942,3590.027828,3795.999698,Cloudy,0.000000,263
102944,2778,GoAir,ATR72,HYD,CCU,2023-12-19,1238.0,3.105357,2758.768210,3501.877498,Cloudy,24.573481,62
102973,4501,SpiceJet,A320,MAA,BLR,2023-12-26,297.0,0.743091,2782.627673,1040.828037,Cloudy,0.000000,92
102981,8022,Air India,B737,CCU,DEL,2023-03-23,1423.0,2.256574,3595.856423,5107.469995,Clear,7.076558,165

In [27]:
df.loc[df["Flight_Number"]== 1080]

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
42,1080,SpiceJet,B777,BOM,AMD,2023-04-03,439.0,0.988401,3253.330714,1795.393772,Clear,0.258667,198
30729,1080,GoAir,B777,MAA,HYD,2023-07-11,516.0,1.039148,2665.870253,2164.295790,Cloudy,43.151828,213
43063,1080,Vistara,B777,PNQ,MAA,2023-08-13,933.0,1.526219,4507.297279,3996.620077,Cloudy,3.666737,301
47220,1080,Vistara,ATR72,AMD,HYD,2023-10-18,907.0,2.375656,3977.771245,2589.764768,Clear,17.157679,55
54421,1080,GoAir,A320,BOM,CCU,2023-03-28,1762.0,2.672863,2393.504087,6145.124094,Clear,20.162217,139
70182,1080,IndiGo,ATR72,CCU,MAA,2023-03-17,1384.0,3.197972,3354.539438,3875.052889,Clear,26.407251,57
87810,1080,SpiceJet,B777,AMD,HYD,2023-01-07,907.0,1.432945,3230.613036,3827.614012,Clear,18.654424,268
93435,1080,IndiGo,B777,DEL,AMD,2023-04-28,806.0,1.312209,3688.636994,3372.851269,Foggy,77.609294,287
97978,1080,SpiceJet,A320,HYD,PNQ,2023-01-01,529.0,1.056166,2613.255634,1813.599636,Clear,0.000000,131
99082,1080,Air India,A320,BOM,DEL,2023-04-17,1167.0,1.759641,3582.083714,4116.933953,Clear,3.975930,164
101087,1080,SpiceJet,B777,BOM,AMD,2023-04-03,439.0,0.988401,3253.330714,1795.393772,Clear,0.258667,198

In [28]:
df.loc[df["Flight_Number"]== 3055]

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
128,3055,Vistara,A320,DEL,BOM,2023-01-20,1167.0,1.914558,4150.294425,4123.110377,Clear,22.638000,141
964,3055,Vistara,A321,MAA,CCU,2023-07-06,1384.0,2.087410,5009.495198,5086.345356,Clear,41.351382,199
1286,3055,Vistara,A320,DEL,BOM,2023-01-20,1167.0,1.914558,4150.294425,4123.110377,Clear,22.638000,141
62054,3055,SpiceJet,ATR72,BOM,PNQ,2023-09-01,124.0,0.717344,2681.374883,500.000000,Clear,26.873605,32
73258,3055,GoAir,B777,DEL,CCU,2023-07-28,1423.0,2.007850,2839.319784,6034.062828,Cloudy,17.149780,277
99244,3055,Vistara,ATR72,HYD,PNQ,2023-08-26,529.0,1.623769,3958.960680,1444.711047,Cloudy,0.558810,53
101691,3055,Vistara,A321,HYD,MAA,2023-11-01,516.0,1.036487,NaN,1955.510446,Clear,13.379201,151

In [29]:
df.shape

(103000, 13)

In [30]:
df[(df["Aircraft_Type"]== "B777") & (df["Airline"]=="SpiceJet")]

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
18,1513,SpiceJet,B777,AMD,HYD,2023-06-16,907.0,1.491480,3083.657843,3802.180173,Clear,27.130125,263
25,4201,SpiceJet,B777,MAA,DEL,2023-02-09,1769.0,2.558762,3400.113758,7520.967289,Rainy,34.438852,288
36,7375,SpiceJet,B777,BOM,CCU,2023-12-18,1762.0,2.389345,NaN,7428.986307,Cloudy,20.623678,261
42,1080,SpiceJet,B777,BOM,AMD,2023-04-03,439.0,0.988401,3253.330714,1795.393772,Clear,0.258667,198
60,7325,SpiceJet,B777,BLR,PNQ,2023-10-22,742.0,1.337414,3498.253056,3164.742252,Rainy,30.845418,286
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102890,4317,SpiceJet,B777,HYD,HYD,2023-09-16,0.0,0.500000,3405.012626,500.000000,Clear,5.556023,148
102891,8732,SpiceJet,B777,HYD,PNQ,2023-12-24,529.0,1.317651,3251.876478,2185.298295,Clear,0.000000,217
102896,7416,SpiceJet,B777,PNQ,MAA,2023-06-11,933.0,1.632726,3311.973036,3958.351944,Clear,8.891883,269
102901,5234,SpiceJet,B777,BOM,BLR,2023-11-12,856.0,1.533820,3301.554212,3606.441766,Cloudy,1.493632,229
102942,5476,SpiceJet,B777,MAA,MAA,2023-07-05,0.0,0.500000,3222.201653,500.000000,Rainy,24.227917,186

In [31]:
df["Aircraft_Type"].unique().tolist()

['ATR72', 'A320', 'B737', 'A321', 'B777']

In [32]:
df[(df["Origin"]==df["Destination"]) & (df["Distance_km"]!=0.0)]
# df.query("Origin == Destination and Distance_km != 0.0")

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
158,4131,Air India,B777,CCU,CCU,2023-06-21,NaN,0.697660,4008.759984,500.0,Clear,16.214367,184
694,7885,Air India,B737,BLR,BLR,2023-05-07,NaN,0.500000,3798.831230,500.0,Clear,0.000000,93
862,7651,SpiceJet,B777,BLR,BLR,2023-01-22,NaN,0.500000,3386.753628,500.0,Cloudy,10.209398,201
967,4371,IndiGo,A320,HYD,HYD,2023-03-11,NaN,0.500000,2924.574938,500.0,Clear,0.000000,76
1457,9955,Air India,B737,PNQ,PNQ,2023-03-15,NaN,NaN,3400.414856,500.0,Clear,0.000000,74
...,...,...,...,...,...,...,...,...,...,...,...,...,...
101829,7308,Vistara,B777,AMD,AMD,2023-08-15,NaN,0.563263,4401.240789,500.0,Clear,0.000000,178
101985,2633,SpiceJet,A321,PNQ,PNQ,2023-09-01,NaN,0.500000,3049.808131,500.0,Clear,18.534551,97
102358,5122,Vistara,ATR72,PNQ,PNQ,2023-01-28,NaN,0.500000,NaN,500.0,Clear,NaN,40
102370,6119,IndiGo,A320,BLR,BLR,2023-12-20,NaN,0.500000,2918.447876,500.0,Rainy,15.930366,98
102739,8501,IndiGo,ATR72,BOM,BOM,2023-02-14,NaN,0.500000,3005.052135,500.0,Clear,13.778691,41

In [33]:
df.query("Origin == Destination and Distance_km != 0.0")

df.loc[(df["Origin"]==df["Destination"]) & (df["Distance_km"]!=0.0), "Distance_km"] = 0.0

In [34]:
df.query("Origin == Destination and Distance_km != 0.0")

Empty DataFrame
Columns: [Flight_Number, Airline, Aircraft_Type, Origin, Destination, Date, Distance_km, Duration_hours, Ticket_Price, Fuel_Cost, Weather_Condition, Delay_minutes, Passenger_Count]
Index: []

In [35]:
df.isna().sum()

Flight_Number           0
Airline                 0
Aircraft_Type           0
Origin                  0
Destination             0
Date                    0
Distance_km          2694
Duration_hours       4116
Ticket_Price         5136
Fuel_Cost            3081
Weather_Condition       0
Delay_minutes        2061
Passenger_Count         0
dtype: int64

In [36]:
a=df[df.duplicated()]
a.to_csv("duplicates.csv")

df.drop_duplicates(inplace=True)

In [37]:
df.isna().sum()

Flight_Number           0
Airline                 0
Aircraft_Type           0
Origin                  0
Destination             0
Date                    0
Distance_km          2621
Duration_hours       4000
Ticket_Price         5000
Fuel_Cost            3000
Weather_Condition       0
Delay_minutes        2000
Passenger_Count         0
dtype: int64

In [38]:
df[df["Distance_km"]==1384.00]

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
0,8498,SpiceJet,ATR72,CCU,MAA,2023-06-12,1384.0,3.094867,2963.516704,3828.490167,Cloudy,0.000000,62
38,8423,GoAir,A321,CCU,MAA,2023-10-19,1384.0,2.067062,2948.938208,5090.346809,Clear,20.098305,206
52,2756,IndiGo,B737,CCU,MAA,2023-07-17,1384.0,2.075623,3135.105351,4975.090197,Cloudy,33.911195,128
62,9646,IndiGo,ATR72,CCU,MAA,2023-06-28,1384.0,3.216014,3171.598457,3906.865921,Cloudy,13.746495,59
68,7813,IndiGo,B777,CCU,MAA,2023-03-09,1384.0,2.116165,3956.481655,5849.812589,Cloudy,25.876001,256
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102727,6767,IndiGo,A321,MAA,CCU,2023-07-16,1384.0,2.149008,3872.485247,5187.554108,Rainy,31.337984,181
102858,3385,Air India,B777,MAA,CCU,2023-09-30,1384.0,2.073860,4173.245542,5857.052713,Clear,21.276505,268
102926,3708,GoAir,A320,MAA,CCU,2023-09-23,1384.0,2.027591,NaN,4853.090033,Clear,22.592622,160
102953,2118,IndiGo,ATR72,CCU,MAA,2023-08-20,1384.0,3.274420,3030.912356,3869.091152,Clear,23.851709,60
102960,4747,GoAir,B737,MAA,CCU,2023-05-08,1384.0,2.103033,2498.159941,4954.655294,Clear,0.000000,119

In [39]:
df["Distance_km"].unique().tolist()

[1384.0,
 519.0,
 1423.0,
 907.0,
 529.0,
 516.0,
 1601.0,
 1186.0,
 1056.0,
 650.0,
 1395.0,
 1671.0,
 0.0,
 499.0,
 297.0,
 439.0,
 1238.0,
 1769.0,
 856.0,
 nan,
 1762.0,
 1753.0,
 1747.0,
 933.0,
 742.0,
 1265.0,
 1167.0,
 124.0,
 1247.0,
 806.0]

In [40]:
df.query("Origin == 'CCU' and Destination == 'MAA' and Distance_km != 1384.0",engine="python")

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
398,1040,IndiGo,A321,CCU,MAA,2023-07-22,NaN,2.068533,3540.627904,5107.763721,Cloudy,15.141866,168
3118,4901,IndiGo,B737,CCU,MAA,2023-08-12,NaN,1.960311,3112.009177,5020.501777,Clear,30.572469,154
4951,9826,Air India,ATR72,CCU,MAA,2023-04-12,NaN,3.154706,3833.616176,3858.619868,Cloudy,21.235197,61
6646,4186,GoAir,A320,CCU,MAA,2023-05-21,NaN,2.120109,2510.536890,4880.854273,Clear,0.000000,168
7158,2431,Vistara,B737,CCU,MAA,2023-01-10,NaN,2.125710,4162.296384,5040.503383,Cloudy,0.601777,154
9388,8541,SpiceJet,A320,CCU,MAA,2023-01-07,NaN,1.953583,2907.360543,4856.938786,Cloudy,16.774927,127
10010,8443,SpiceJet,A320,CCU,MAA,2023-11-06,NaN,1.927640,2890.365794,4809.905813,Clear,32.335716,133
11750,1191,SpiceJet,B737,CCU,MAA,2023-04-18,NaN,2.187265,2997.908887,5048.355744,Cloudy,37.109331,117
11912,5263,Air India,B777,CCU,MAA,2023-02-26,NaN,2.228285,3960.304410,5831.791453,Clear,14.255519,298
14603,3832,SpiceJet,A320,CCU,MAA,2023-01-16,NaN,2.240874,2953.953985,4719.143010,Cloudy,26.997540,133
16451,5336,GoAir,ATR72,CCU,MAA,2023-12-21,NaN,3.060583,2473.709828,3901.847464,Clear,11.751570,63
19499,7716,GoAir,A321,CCU,MAA,2023-06-16,NaN,1.997061,2834.045579,5115.555544,Clear,14.585825,200
25177,4648,IndiGo,B777,CCU,MAA,2023-10-16,NaN,2.056980,3781.126581,5828.380315,Clear,19.646137,281
25647,6528,Air India,A320,CCU,MAA,2023-05-25,NaN,2.138547,3428.308436,4801.491331,Clear,1.437177,140
25885,4441,GoAir,ATR72,CCU,MAA,2023-11-24,NaN,3.105709,2564.964113,3882.981442,Cloudy,29.205100,47
28623,4747,SpiceJet,ATR72,CCU,MAA,2023-12-14,NaN,3.443553,2989.032494,NaN,Rainy,29.724548,64
28687,7879,GoAir,A320,CCU,MAA,2023-05-16,NaN,2.212225,2590.929710,4791.798553,Cloudy,34.063019,158
30363,8736,Vistara,B777,CCU,MAA,2023-12-10,NaN,1.971063,4544.412740,5769.128764,Clear,32.643705,239
33877,4591,Air India,ATR72,CCU,MAA,2023-09-29,NaN,NaN,3515.300382,3854.727744,Foggy,62.412836,48
35334,7138,SpiceJet,ATR72,CCU,MAA,2023-11-16,NaN,3.368731,2432.280343,3863.321538,Cloudy,31.005813,57
36304,1239,SpiceJet,B777,CCU,MAA,2023-07-13,NaN,1.959213,3391.257909,5761.502296,Clear,17.838551,241
38098,8192,Vistara,A320,CCU,MAA,2023-12-20,NaN,2.002408,4382.014707,4797.014837,Foggy,71.504670,162
38227,5671,GoAir,A320,CCU,MAA,2023-04-17,NaN,2.136032,2640.031813,4799.835208,Clear,32.350007,128
43305,9623,IndiGo,A320,CCU,MAA,2023-09-21,NaN,1.997656,3033.319015,4912.375785,Clear,0.000000,155
56107,5654,SpiceJet,ATR72,CCU,MAA,2023-12-12,NaN,3.230316,3198.980831,3826.793209,Cloudy,3.750372,46
60534,3759,Vistara,A320,CCU,MAA,2023-03-02,NaN,2.091426,3987.587944,4860.764295,Clear,13.245568,145
65779,2511,Vistara,A321,CCU,MAA,2023-07-23,NaN,2.018373,4928.527010,5109.329849,Clear,5.083352,203
67478,2487,Air India,A321,CCU,MAA,2023-03-30,NaN,2.109005,4320.815590,5116.199873,Clear,16.930725,187
68043,6631,Air India,B737,CCU,MAA,2023-11-23,NaN,2.025693,3359.990162,4934.087112,Cloudy,13.407808,141
73350,9644,SpiceJet,A320,CCU,MAA,2023-04-26,NaN,1.975379,3279.640497,4918.497826,Clear,22.070498,151
79377,5541,IndiGo,A321,CCU,MAA,2023-07-19,NaN,2.103771,3716.166259,5115.097038,Clear,0.000000,169
79399,5015,Vistara,A320,CCU,MAA,2023-11-20,NaN,2.306895,4283.674891,4882.788341,Cloudy,2.733332,134
79463,6005,GoAir,B777,CCU,MAA,2023-10-08,NaN,1.928804,2918.347789,5836.670196,Clear,33.333105,301
81888,5548,SpiceJet,A321,CCU,MAA,2023-05-20,NaN,2.104071,3223.829310,5047.508572,Clear,16.115649,164
82730,8606,SpiceJet,B777,CCU,MAA,2023-11-25,NaN,2.053200,3442.517163,5805.770279,Rainy,77.596591,312
89647,6788,Air India,A320,CCU,MAA,2023-10-02,NaN,2.222110,3282.112828,4777.757336,Clear,41.666991,156
93300,1627,Air India,B737,CCU,MAA,2023-10-15,NaN,2.062180,3401.756712,4997.730432,Cloudy,9.767425,118
93625,2426,Vistara,B777,CCU,MAA,2023-06-05,NaN,1.787411,4858.196047,5863.029429,Cloudy,25.773769,286
93973,6589,Air India,ATR72,CCU,MAA,2023-07-31,NaN,3.486040,3417.369821,NaN,Rainy,46.004517,48
96827,2970,Air India,B737,CCU,MAA,2023-10-03,NaN,2.098649,NaN,4968.548816,Rainy,54.480491,157
97415,5485,SpiceJet,B737,CCU,MAA,2023-01-22,NaN,1.898499,2694.611356,5026.313591,Clear,26.904572,165

In [41]:
df[df["Distance_km"]==1384.0]["Origin"].unique().tolist()

['CCU', 'MAA']

In [42]:
df[df["Distance_km"]==1384.0]["Destination"].unique().tolist()

['MAA', 'CCU']

In [43]:
df[df["Distance_km"]==1769.0]["Origin"].unique().tolist()

['MAA', 'DEL']

In [44]:
df[df["Distance_km"]==1769.0]["Destination"].unique().tolist()

['DEL', 'MAA']

In [45]:
# odd == Origin Destination Distance

odd={}
li = df["Distance_km"].unique().tolist()
li.remove(0.0)
li

[1384.0,
 519.0,
 1423.0,
 907.0,
 529.0,
 516.0,
 1601.0,
 1186.0,
 1056.0,
 650.0,
 1395.0,
 1671.0,
 499.0,
 297.0,
 439.0,
 1238.0,
 1769.0,
 856.0,
 nan,
 1762.0,
 1753.0,
 1747.0,
 933.0,
 742.0,
 1265.0,
 1167.0,
 124.0,
 1247.0,
 806.0]

In [46]:
odd={}
li = df[(df["Distance_km"]!=0.0)&(df["Distance_km"].notna())]["Distance_km"].unique().tolist()
for i in li:
    org=df[df["Distance_km"]==i]["Origin"].unique().tolist()
    dest=df[df["Distance_km"]==i]["Destination"].unique().tolist()
    odd[i]=[org,dest]
odd

{1384.0: [['CCU', 'MAA'], ['MAA', 'CCU']],
 519.0: [['AMD', 'PNQ'], ['PNQ', 'AMD']],
 1423.0: [['CCU', 'DEL'], ['DEL', 'CCU']],
 907.0: [['AMD', 'HYD'], ['HYD', 'AMD']],
 529.0: [['HYD', 'PNQ'], ['PNQ', 'HYD']],
 516.0: [['HYD', 'MAA'], ['MAA', 'HYD']],
 1601.0: [['CCU', 'BLR'], ['BLR', 'CCU']],
 1186.0: [['DEL', 'PNQ'], ['PNQ', 'DEL']],
 1056.0: [['BOM', 'MAA'], ['MAA', 'BOM']],
 650.0: [['HYD', 'BOM'], ['BOM', 'HYD']],
 1395.0: [['AMD', 'MAA'], ['MAA', 'AMD']],
 1671.0: [['CCU', 'PNQ'], ['PNQ', 'CCU']],
 499.0: [['HYD', 'BLR'], ['BLR', 'HYD']],
 297.0: [['MAA', 'BLR'], ['BLR', 'MAA']],
 439.0: [['AMD', 'BOM'], ['BOM', 'AMD']],
 1238.0: [['HYD', 'CCU'], ['CCU', 'HYD']],
 1769.0: [['MAA', 'DEL'], ['DEL', 'MAA']],
 856.0: [['BLR', 'BOM'], ['BOM', 'BLR']],
 1762.0: [['BOM', 'CCU'], ['CCU', 'BOM']],
 1753.0: [['AMD', 'CCU'], ['CCU', 'AMD']],
 1747.0: [['DEL', 'BLR'], ['BLR', 'DEL']],
 933.0: [['MAA', 'PNQ'], ['PNQ', 'MAA']],
 742.0: [['BLR', 'PNQ'], ['PNQ', 'BLR']],
 1265.0: [['HYD', 'DEL'], ['DEL', 'HYD']],
 1167.0: [['BOM', 'DEL'], ['DEL', 'BOM']],
 124.0: [['BOM', 'PNQ'], ['PNQ', 'BOM']],
 1247.0: [['BLR', 'AMD'], ['AMD', 'BLR']],
 806.0: [['DEL', 'AMD'], ['AMD', 'DEL']]}

In [47]:
for i, j in odd.items():
    df.loc[
        (df["Distance_km"] != i)
        & (df["Origin"].isin(j[0]))
        & (df["Destination"].isin(j[1]))
        & (df["Origin"] != df["Destination"]),
        "Distance_km"
    ] = i

In [48]:
df.isna().sum()

Flight_Number           0
Airline                 0
Aircraft_Type           0
Origin                  0
Destination             0
Date                    0
Distance_km             0
Duration_hours       4000
Ticket_Price         5000
Fuel_Cost            3000
Weather_Condition       0
Delay_minutes        2000
Passenger_Count         0
dtype: int64

In [49]:
df.loc[(df["Distance_km"].isna())]

Empty DataFrame
Columns: [Flight_Number, Airline, Aircraft_Type, Origin, Destination, Date, Distance_km, Duration_hours, Ticket_Price, Fuel_Cost, Weather_Condition, Delay_minutes, Passenger_Count]
Index: []

In [50]:
df.loc[(df["Duration_hours"].isna())]

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
1,5263,IndiGo,A320,AMD,PNQ,2023-09-21,519.0,NaN,2912.486246,1790.502002,Cloudy,27.908655,119
5,4327,SpiceJet,A321,HYD,MAA,2023-02-23,516.0,NaN,3191.624024,1897.068230,Cloudy,10.805819,166
12,1289,Vistara,B777,CCU,PNQ,2023-04-21,1671.0,NaN,4959.089625,7032.822873,Rainy,61.485096,326
19,6456,Vistara,A320,CCU,PNQ,2023-04-02,1671.0,NaN,4076.351133,5810.759696,Cloudy,20.320287,148
73,8547,Vistara,B777,DEL,MAA,2023-03-06,1769.0,NaN,5109.433645,7406.035164,Cloudy,38.440448,245
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102767,5661,Vistara,B777,BOM,HYD,2023-03-11,650.0,NaN,4793.803075,2736.867693,Cloudy,0.000000,231
102827,3981,IndiGo,B777,AMD,BOM,2023-01-13,439.0,NaN,3326.890280,1823.602594,Clear,8.949475,236
102972,4010,GoAir,B737,DEL,CCU,2023-06-13,1423.0,NaN,2684.234827,5084.837654,Clear,23.734500,123
102982,4639,Air India,B777,MAA,AMD,2023-03-25,1395.0,NaN,4040.416971,5800.302084,Clear,8.787268,255
102994,2368,IndiGo,ATR72,AMD,HYD,2023-05-16,907.0,NaN,3097.782498,2485.684265,Clear,31.270984,61

In [51]:
df.loc[df["Duration_hours"].isna() & (df["Aircraft_Type"]=="A320") & (df["Distance_km"]==519.0)]

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
1,5263,IndiGo,A320,AMD,PNQ,2023-09-21,519.0,NaN,2912.486246,1790.502002,Cloudy,27.908655,119
6607,6950,SpiceJet,A320,AMD,PNQ,2023-03-20,519.0,NaN,2665.948465,1890.656981,Clear,5.885423,119
13394,8246,GoAir,A320,AMD,PNQ,2023-12-05,519.0,NaN,2525.286990,1810.078447,Clear,8.853639,99
18000,8512,Air India,A320,AMD,PNQ,2023-07-28,519.0,NaN,3267.147543,1869.631345,Clear,2.224826,113
19955,5704,GoAir,A320,PNQ,AMD,2023-12-15,519.0,NaN,2561.242993,1791.940120,Cloudy,15.568367,124
25687,2810,Vistara,A320,AMD,PNQ,2023-05-25,519.0,NaN,4153.922551,1897.207926,Clear,20.024256,132
28869,5852,Vistara,A320,AMD,PNQ,2023-01-14,519.0,NaN,NaN,1889.225158,Cloudy,30.474590,97
31155,3987,Air India,A320,PNQ,AMD,2023-05-12,519.0,NaN,3467.911471,1836.908594,Clear,10.512860,97
32019,3743,GoAir,A320,AMD,PNQ,2023-05-19,519.0,NaN,2626.159106,1749.668624,Clear,1.702070,115
39929,1335,Vistara,A320,PNQ,AMD,2023-07-20,519.0,NaN,4046.691866,1780.290999,Rainy,53.573068,132
40373,7468,Air India,A320,AMD,PNQ,2023-01-24,519.0,NaN,3577.536761,1763.605755,Cloudy,7.573664,101
45846,4591,SpiceJet,A320,AMD,PNQ,2023-11-28,519.0,NaN,2687.875696,1790.687736,Rainy,17.676316,138
50762,9649,Air India,A320,AMD,PNQ,2023-12-30,519.0,NaN,3214.078243,1828.217166,Cloudy,10.526417,138
51121,3002,GoAir,A320,PNQ,AMD,2023-09-17,519.0,NaN,2475.845943,1872.365707,Clear,18.693287,97
53388,2308,Vistara,A320,AMD,PNQ,2023-12-27,519.0,NaN,3823.512088,1744.869167,Rainy,35.501203,133
54447,1564,Vistara,A320,AMD,PNQ,2023-05-28,519.0,NaN,4193.980190,1757.451152,Clear,4.341106,120
54890,2866,SpiceJet,A320,AMD,PNQ,2023-04-12,519.0,NaN,2696.294806,1857.079149,Rainy,47.422751,114
56856,1161,GoAir,A320,PNQ,AMD,2023-09-13,519.0,NaN,2605.812257,1839.783008,Rainy,33.569320,105
62007,6411,Vistara,A320,PNQ,AMD,2023-11-26,519.0,NaN,NaN,1784.564122,Clear,11.888571,114
66371,7133,Air India,A320,AMD,PNQ,2023-08-14,519.0,NaN,3267.386178,1844.821830,Clear,13.626796,133
67816,6781,GoAir,A320,AMD,PNQ,2023-12-22,519.0,NaN,2456.627379,1917.327813,Rainy,66.064425,125
70293,3655,Air India,A320,AMD,PNQ,2023-05-23,519.0,NaN,3262.859434,1805.118981,Cloudy,35.219500,113
72636,4687,GoAir,A320,AMD,PNQ,2023-06-09,519.0,NaN,2408.268481,1855.492373,Clear,0.000000,129
78981,9098,SpiceJet,A320,PNQ,AMD,2023-12-11,519.0,NaN,2990.619774,1857.520964,Clear,0.000000,138
89423,8035,Vistara,A320,AMD,PNQ,2023-10-09,519.0,NaN,3944.123091,1850.430098,Clear,18.735492,99
89753,9428,SpiceJet,A320,PNQ,AMD,2023-07-01,519.0,NaN,2870.111319,1738.527281,Clear,0.000000,135
94495,9191,Vistara,A320,PNQ,AMD,2023-02-24,519.0,NaN,4025.546140,1854.025370,Clear,0.000000,126
94665,1938,GoAir,A320,AMD,PNQ,2023-09-21,519.0,NaN,2485.831863,1791.310410,Rainy,46.784351,136
97735,6926,Vistara,A320,PNQ,AMD,2023-12-25,519.0,NaN,4014.854016,1734.016893,Clear,0.000000,135

In [52]:
df.loc[(df["Duration_hours"].notna()) & (df ["Aircraft_Type"]=="A320") & (df["Distance_km"]==0.0) & (df["Weather_Condition"]=="Clear")].shape

(1148, 13)

In [53]:
a=np.mean(li)
q=[]
for i in li:
    q.append(np.round(i-a))

In [54]:
at=df["Aircraft_Type"].unique().tolist()
at

['ATR72', 'A320', 'B737', 'A321', 'B777']

In [55]:
df.columns

Index(['Flight_Number', 'Airline', 'Aircraft_Type', 'Origin', 'Destination',
       'Date', 'Distance_km', 'Duration_hours', 'Ticket_Price', 'Fuel_Cost',
       'Weather_Condition', 'Delay_minutes', 'Passenger_Count'],
      dtype='object')

In [56]:
df.combine

<bound method DataFrame.combine of         Flight_Number    Airline Aircraft_Type Origin Destination        Date  \
0                8498   SpiceJet         ATR72    CCU         MAA  2023-06-12
1                5263     IndiGo          A320    AMD         PNQ  2023-09-21
2                1877      GoAir          B737    CCU         DEL  2023-11-30
3                1598      GoAir          B737    AMD         HYD  2023-06-30
4                2722      GoAir         ATR72    HYD         PNQ  2023-10-24
...               ...        ...           ...    ...         ...         ...
102995           2098      GoAir          A321    CCU         AMD  2023-12-06
102996           1978      GoAir          A321    AMD         PNQ  2023-07-21
102997           7474  Air India          A320    DEL         DEL  2023-08-29
102998           2248     IndiGo          B777    MAA         PNQ  2023-07-17
102999           6529   SpiceJet         ATR72    BOM         MAA  2023-05-23

        Distance_km  Duration_hours  Ticket_Price    Fuel_Cost  \
0            1384.0        3.094867   2963.516704  3828.490167
1             519.0             NaN   2912.486246  1790.502002
2            1423.0        2.112585   2177.869901  5122.704201
3             907.0        1.515557   2204.381503  3289.369504
4             529.0        1.717573   2321.112931  1543.099700
...             ...             ...           ...          ...
102995       1753.0        2.531112   2995.180173  6435.115093
102996        519.0        1.137145   2971.397586  2030.405612
102997          0.0        0.500000   3380.840213   500.000000
102998        933.0        1.425115   3542.425616  3908.780885
102999       1056.0        2.655092   2963.984721  2977.489964

       Weather_Condition  Delay_minutes  Passenger_Count
0                 Cloudy       0.000000               62
1                 Cloudy      27.908655              119
2                 Cloudy      26.339672              122
3                 Cloudy      13.771963              143
4                  Clear      18.920403               40
...                  ...            ...              ...
102995             Clear       7.730974              195
102996             Clear       3.564183              158
102997             Clear       0.000000               93
102998             Rainy      27.970932              243
102999             Foggy      88.251829               65

[100000 rows x 13 columns]>

In [57]:
df.compare

<bound method DataFrame.compare of         Flight_Number    Airline Aircraft_Type Origin Destination        Date  \
0                8498   SpiceJet         ATR72    CCU         MAA  2023-06-12
1                5263     IndiGo          A320    AMD         PNQ  2023-09-21
2                1877      GoAir          B737    CCU         DEL  2023-11-30
3                1598      GoAir          B737    AMD         HYD  2023-06-30
4                2722      GoAir         ATR72    HYD         PNQ  2023-10-24
...               ...        ...           ...    ...         ...         ...
102995           2098      GoAir          A321    CCU         AMD  2023-12-06
102996           1978      GoAir          A321    AMD         PNQ  2023-07-21
102997           7474  Air India          A320    DEL         DEL  2023-08-29
102998           2248     IndiGo          B777    MAA         PNQ  2023-07-17
102999           6529   SpiceJet         ATR72    BOM         MAA  2023-05-23

        Distance_km  Duration_hours  Ticket_Price    Fuel_Cost  \
0            1384.0        3.094867   2963.516704  3828.490167
1             519.0             NaN   2912.486246  1790.502002
2            1423.0        2.112585   2177.869901  5122.704201
3             907.0        1.515557   2204.381503  3289.369504
4             529.0        1.717573   2321.112931  1543.099700
...             ...             ...           ...          ...
102995       1753.0        2.531112   2995.180173  6435.115093
102996        519.0        1.137145   2971.397586  2030.405612
102997          0.0        0.500000   3380.840213   500.000000
102998        933.0        1.425115   3542.425616  3908.780885
102999       1056.0        2.655092   2963.984721  2977.489964

       Weather_Condition  Delay_minutes  Passenger_Count
0                 Cloudy       0.000000               62
1                 Cloudy      27.908655              119
2                 Cloudy      26.339672              122
3                 Cloudy      13.771963              143
4                  Clear      18.920403               40
...                  ...            ...              ...
102995             Clear       7.730974              195
102996             Clear       3.564183              158
102997             Clear       0.000000               93
102998             Rainy      27.970932              243
102999             Foggy      88.251829               65

[100000 rows x 13 columns]>

In [58]:
df.convert_dtypes()

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
0,8498,SpiceJet,ATR72,CCU,MAA,2023-06-12,1384,3.094867,2963.516704,3828.490167,Cloudy,0.0,62
1,5263,IndiGo,A320,AMD,PNQ,2023-09-21,519,<NA>,2912.486246,1790.502002,Cloudy,27.908655,119
2,1877,GoAir,B737,CCU,DEL,2023-11-30,1423,2.112585,2177.869901,5122.704201,Cloudy,26.339672,122
3,1598,GoAir,B737,AMD,HYD,2023-06-30,907,1.515557,2204.381503,3289.369504,Cloudy,13.771963,143
4,2722,GoAir,ATR72,HYD,PNQ,2023-10-24,529,1.717573,2321.112931,1543.0997,Clear,18.920403,40
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102995,2098,GoAir,A321,CCU,AMD,2023-12-06,1753,2.531112,2995.180173,6435.115093,Clear,7.730974,195
102996,1978,GoAir,A321,AMD,PNQ,2023-07-21,519,1.137145,2971.397586,2030.405612,Clear,3.564183,158
102997,7474,Air India,A320,DEL,DEL,2023-08-29,0,0.5,3380.840213,500.0,Clear,0.0,93
102998,2248,IndiGo,B777,MAA,PNQ,2023-07-17,933,1.425115,3542.425616,3908.780885,Rainy,27.970932,243
102999,6529,SpiceJet,ATR72,BOM,MAA,2023-05-23,1056,2.655092,2963.984721,2977.489964,Foggy,88.251829,65

In [59]:
df.corrwith

<bound method DataFrame.corrwith of         Flight_Number    Airline Aircraft_Type Origin Destination        Date  \
0                8498   SpiceJet         ATR72    CCU         MAA  2023-06-12
1                5263     IndiGo          A320    AMD         PNQ  2023-09-21
2                1877      GoAir          B737    CCU         DEL  2023-11-30
3                1598      GoAir          B737    AMD         HYD  2023-06-30
4                2722      GoAir         ATR72    HYD         PNQ  2023-10-24
...               ...        ...           ...    ...         ...         ...
102995           2098      GoAir          A321    CCU         AMD  2023-12-06
102996           1978      GoAir          A321    AMD         PNQ  2023-07-21
102997           7474  Air India          A320    DEL         DEL  2023-08-29
102998           2248     IndiGo          B777    MAA         PNQ  2023-07-17
102999           6529   SpiceJet         ATR72    BOM         MAA  2023-05-23

        Distance_km  Duration_hours  Ticket_Price    Fuel_Cost  \
0            1384.0        3.094867   2963.516704  3828.490167
1             519.0             NaN   2912.486246  1790.502002
2            1423.0        2.112585   2177.869901  5122.704201
3             907.0        1.515557   2204.381503  3289.369504
4             529.0        1.717573   2321.112931  1543.099700
...             ...             ...           ...          ...
102995       1753.0        2.531112   2995.180173  6435.115093
102996        519.0        1.137145   2971.397586  2030.405612
102997          0.0        0.500000   3380.840213   500.000000
102998        933.0        1.425115   3542.425616  3908.780885
102999       1056.0        2.655092   2963.984721  2977.489964

       Weather_Condition  Delay_minutes  Passenger_Count
0                 Cloudy       0.000000               62
1                 Cloudy      27.908655              119
2                 Cloudy      26.339672              122
3                 Cloudy      13.771963              143
4                  Clear      18.920403               40
...                  ...            ...              ...
102995             Clear       7.730974              195
102996             Clear       3.564183              158
102997             Clear       0.000000               93
102998             Rainy      27.970932              243
102999             Foggy      88.251829               65

[100000 rows x 13 columns]>

In [60]:
df.corr

<bound method DataFrame.corr of         Flight_Number    Airline Aircraft_Type Origin Destination        Date  \
0                8498   SpiceJet         ATR72    CCU         MAA  2023-06-12
1                5263     IndiGo          A320    AMD         PNQ  2023-09-21
2                1877      GoAir          B737    CCU         DEL  2023-11-30
3                1598      GoAir          B737    AMD         HYD  2023-06-30
4                2722      GoAir         ATR72    HYD         PNQ  2023-10-24
...               ...        ...           ...    ...         ...         ...
102995           2098      GoAir          A321    CCU         AMD  2023-12-06
102996           1978      GoAir          A321    AMD         PNQ  2023-07-21
102997           7474  Air India          A320    DEL         DEL  2023-08-29
102998           2248     IndiGo          B777    MAA         PNQ  2023-07-17
102999           6529   SpiceJet         ATR72    BOM         MAA  2023-05-23

        Distance_km  Duration_hours  Ticket_Price    Fuel_Cost  \
0            1384.0        3.094867   2963.516704  3828.490167
1             519.0             NaN   2912.486246  1790.502002
2            1423.0        2.112585   2177.869901  5122.704201
3             907.0        1.515557   2204.381503  3289.369504
4             529.0        1.717573   2321.112931  1543.099700
...             ...             ...           ...          ...
102995       1753.0        2.531112   2995.180173  6435.115093
102996        519.0        1.137145   2971.397586  2030.405612
102997          0.0        0.500000   3380.840213   500.000000
102998        933.0        1.425115   3542.425616  3908.780885
102999       1056.0        2.655092   2963.984721  2977.489964

       Weather_Condition  Delay_minutes  Passenger_Count
0                 Cloudy       0.000000               62
1                 Cloudy      27.908655              119
2                 Cloudy      26.339672              122
3                 Cloudy      13.771963              143
4                  Clear      18.920403               40
...                  ...            ...              ...
102995             Clear       7.730974              195
102996             Clear       3.564183              158
102997             Clear       0.000000               93
102998             Rainy      27.970932              243
102999             Foggy      88.251829               65

[100000 rows x 13 columns]>

In [61]:
df.count

<bound method DataFrame.count of         Flight_Number    Airline Aircraft_Type Origin Destination        Date  \
0                8498   SpiceJet         ATR72    CCU         MAA  2023-06-12
1                5263     IndiGo          A320    AMD         PNQ  2023-09-21
2                1877      GoAir          B737    CCU         DEL  2023-11-30
3                1598      GoAir          B737    AMD         HYD  2023-06-30
4                2722      GoAir         ATR72    HYD         PNQ  2023-10-24
...               ...        ...           ...    ...         ...         ...
102995           2098      GoAir          A321    CCU         AMD  2023-12-06
102996           1978      GoAir          A321    AMD         PNQ  2023-07-21
102997           7474  Air India          A320    DEL         DEL  2023-08-29
102998           2248     IndiGo          B777    MAA         PNQ  2023-07-17
102999           6529   SpiceJet         ATR72    BOM         MAA  2023-05-23

        Distance_km  Duration_hours  Ticket_Price    Fuel_Cost  \
0            1384.0        3.094867   2963.516704  3828.490167
1             519.0             NaN   2912.486246  1790.502002
2            1423.0        2.112585   2177.869901  5122.704201
3             907.0        1.515557   2204.381503  3289.369504
4             529.0        1.717573   2321.112931  1543.099700
...             ...             ...           ...          ...
102995       1753.0        2.531112   2995.180173  6435.115093
102996        519.0        1.137145   2971.397586  2030.405612
102997          0.0        0.500000   3380.840213   500.000000
102998        933.0        1.425115   3542.425616  3908.780885
102999       1056.0        2.655092   2963.984721  2977.489964

       Weather_Condition  Delay_minutes  Passenger_Count
0                 Cloudy       0.000000               62
1                 Cloudy      27.908655              119
2                 Cloudy      26.339672              122
3                 Cloudy      13.771963              143
4                  Clear      18.920403               40
...                  ...            ...              ...
102995             Clear       7.730974              195
102996             Clear       3.564183              158
102997             Clear       0.000000               93
102998             Rainy      27.970932              243
102999             Foggy      88.251829               65

[100000 rows x 13 columns]>

In [62]:
df.cummax

<bound method DataFrame.cummax of         Flight_Number    Airline Aircraft_Type Origin Destination        Date  \
0                8498   SpiceJet         ATR72    CCU         MAA  2023-06-12
1                5263     IndiGo          A320    AMD         PNQ  2023-09-21
2                1877      GoAir          B737    CCU         DEL  2023-11-30
3                1598      GoAir          B737    AMD         HYD  2023-06-30
4                2722      GoAir         ATR72    HYD         PNQ  2023-10-24
...               ...        ...           ...    ...         ...         ...
102995           2098      GoAir          A321    CCU         AMD  2023-12-06
102996           1978      GoAir          A321    AMD         PNQ  2023-07-21
102997           7474  Air India          A320    DEL         DEL  2023-08-29
102998           2248     IndiGo          B777    MAA         PNQ  2023-07-17
102999           6529   SpiceJet         ATR72    BOM         MAA  2023-05-23

        Distance_km  Duration_hours  Ticket_Price    Fuel_Cost  \
0            1384.0        3.094867   2963.516704  3828.490167
1             519.0             NaN   2912.486246  1790.502002
2            1423.0        2.112585   2177.869901  5122.704201
3             907.0        1.515557   2204.381503  3289.369504
4             529.0        1.717573   2321.112931  1543.099700
...             ...             ...           ...          ...
102995       1753.0        2.531112   2995.180173  6435.115093
102996        519.0        1.137145   2971.397586  2030.405612
102997          0.0        0.500000   3380.840213   500.000000
102998        933.0        1.425115   3542.425616  3908.780885
102999       1056.0        2.655092   2963.984721  2977.489964

       Weather_Condition  Delay_minutes  Passenger_Count
0                 Cloudy       0.000000               62
1                 Cloudy      27.908655              119
2                 Cloudy      26.339672              122
3                 Cloudy      13.771963              143
4                  Clear      18.920403               40
...                  ...            ...              ...
102995             Clear       7.730974              195
102996             Clear       3.564183              158
102997             Clear       0.000000               93
102998             Rainy      27.970932              243
102999             Foggy      88.251829               65

[100000 rows x 13 columns]>

In [63]:
df.cummin

<bound method DataFrame.cummin of         Flight_Number    Airline Aircraft_Type Origin Destination        Date  \
0                8498   SpiceJet         ATR72    CCU         MAA  2023-06-12
1                5263     IndiGo          A320    AMD         PNQ  2023-09-21
2                1877      GoAir          B737    CCU         DEL  2023-11-30
3                1598      GoAir          B737    AMD         HYD  2023-06-30
4                2722      GoAir         ATR72    HYD         PNQ  2023-10-24
...               ...        ...           ...    ...         ...         ...
102995           2098      GoAir          A321    CCU         AMD  2023-12-06
102996           1978      GoAir          A321    AMD         PNQ  2023-07-21
102997           7474  Air India          A320    DEL         DEL  2023-08-29
102998           2248     IndiGo          B777    MAA         PNQ  2023-07-17
102999           6529   SpiceJet         ATR72    BOM         MAA  2023-05-23

        Distance_km  Duration_hours  Ticket_Price    Fuel_Cost  \
0            1384.0        3.094867   2963.516704  3828.490167
1             519.0             NaN   2912.486246  1790.502002
2            1423.0        2.112585   2177.869901  5122.704201
3             907.0        1.515557   2204.381503  3289.369504
4             529.0        1.717573   2321.112931  1543.099700
...             ...             ...           ...          ...
102995       1753.0        2.531112   2995.180173  6435.115093
102996        519.0        1.137145   2971.397586  2030.405612
102997          0.0        0.500000   3380.840213   500.000000
102998        933.0        1.425115   3542.425616  3908.780885
102999       1056.0        2.655092   2963.984721  2977.489964

       Weather_Condition  Delay_minutes  Passenger_Count
0                 Cloudy       0.000000               62
1                 Cloudy      27.908655              119
2                 Cloudy      26.339672              122
3                 Cloudy      13.771963              143
4                  Clear      18.920403               40
...                  ...            ...              ...
102995             Clear       7.730974              195
102996             Clear       3.564183              158
102997             Clear       0.000000               93
102998             Rainy      27.970932              243
102999             Foggy      88.251829               65

[100000 rows x 13 columns]>

In [64]:
df.describe

<bound method NDFrame.describe of         Flight_Number    Airline Aircraft_Type Origin Destination        Date  \
0                8498   SpiceJet         ATR72    CCU         MAA  2023-06-12
1                5263     IndiGo          A320    AMD         PNQ  2023-09-21
2                1877      GoAir          B737    CCU         DEL  2023-11-30
3                1598      GoAir          B737    AMD         HYD  2023-06-30
4                2722      GoAir         ATR72    HYD         PNQ  2023-10-24
...               ...        ...           ...    ...         ...         ...
102995           2098      GoAir          A321    CCU         AMD  2023-12-06
102996           1978      GoAir          A321    AMD         PNQ  2023-07-21
102997           7474  Air India          A320    DEL         DEL  2023-08-29
102998           2248     IndiGo          B777    MAA         PNQ  2023-07-17
102999           6529   SpiceJet         ATR72    BOM         MAA  2023-05-23

        Distance_km  Duration_hours  Ticket_Price    Fuel_Cost  \
0            1384.0        3.094867   2963.516704  3828.490167
1             519.0             NaN   2912.486246  1790.502002
2            1423.0        2.112585   2177.869901  5122.704201
3             907.0        1.515557   2204.381503  3289.369504
4             529.0        1.717573   2321.112931  1543.099700
...             ...             ...           ...          ...
102995       1753.0        2.531112   2995.180173  6435.115093
102996        519.0        1.137145   2971.397586  2030.405612
102997          0.0        0.500000   3380.840213   500.000000
102998        933.0        1.425115   3542.425616  3908.780885
102999       1056.0        2.655092   2963.984721  2977.489964

       Weather_Condition  Delay_minutes  Passenger_Count
0                 Cloudy       0.000000               62
1                 Cloudy      27.908655              119
2                 Cloudy      26.339672              122
3                 Cloudy      13.771963              143
4                  Clear      18.920403               40
...                  ...            ...              ...
102995             Clear       7.730974              195
102996             Clear       3.564183              158
102997             Clear       0.000000               93
102998             Rainy      27.970932              243
102999             Foggy      88.251829               65

[100000 rows x 13 columns]>

In [65]:
df.dropna

<bound method DataFrame.dropna of         Flight_Number    Airline Aircraft_Type Origin Destination        Date  \
0                8498   SpiceJet         ATR72    CCU         MAA  2023-06-12
1                5263     IndiGo          A320    AMD         PNQ  2023-09-21
2                1877      GoAir          B737    CCU         DEL  2023-11-30
3                1598      GoAir          B737    AMD         HYD  2023-06-30
4                2722      GoAir         ATR72    HYD         PNQ  2023-10-24
...               ...        ...           ...    ...         ...         ...
102995           2098      GoAir          A321    CCU         AMD  2023-12-06
102996           1978      GoAir          A321    AMD         PNQ  2023-07-21
102997           7474  Air India          A320    DEL         DEL  2023-08-29
102998           2248     IndiGo          B777    MAA         PNQ  2023-07-17
102999           6529   SpiceJet         ATR72    BOM         MAA  2023-05-23

        Distance_km  Duration_hours  Ticket_Price    Fuel_Cost  \
0            1384.0        3.094867   2963.516704  3828.490167
1             519.0             NaN   2912.486246  1790.502002
2            1423.0        2.112585   2177.869901  5122.704201
3             907.0        1.515557   2204.381503  3289.369504
4             529.0        1.717573   2321.112931  1543.099700
...             ...             ...           ...          ...
102995       1753.0        2.531112   2995.180173  6435.115093
102996        519.0        1.137145   2971.397586  2030.405612
102997          0.0        0.500000   3380.840213   500.000000
102998        933.0        1.425115   3542.425616  3908.780885
102999       1056.0        2.655092   2963.984721  2977.489964

       Weather_Condition  Delay_minutes  Passenger_Count
0                 Cloudy       0.000000               62
1                 Cloudy      27.908655              119
2                 Cloudy      26.339672              122
3                 Cloudy      13.771963              143
4                  Clear      18.920403               40
...                  ...            ...              ...
102995             Clear       7.730974              195
102996             Clear       3.564183              158
102997             Clear       0.000000               93
102998             Rainy      27.970932              243
102999             Foggy      88.251829               65

[100000 rows x 13 columns]>

In [66]:
df.fillna

<bound method NDFrame.fillna of         Flight_Number    Airline Aircraft_Type Origin Destination        Date  \
0                8498   SpiceJet         ATR72    CCU         MAA  2023-06-12
1                5263     IndiGo          A320    AMD         PNQ  2023-09-21
2                1877      GoAir          B737    CCU         DEL  2023-11-30
3                1598      GoAir          B737    AMD         HYD  2023-06-30
4                2722      GoAir         ATR72    HYD         PNQ  2023-10-24
...               ...        ...           ...    ...         ...         ...
102995           2098      GoAir          A321    CCU         AMD  2023-12-06
102996           1978      GoAir          A321    AMD         PNQ  2023-07-21
102997           7474  Air India          A320    DEL         DEL  2023-08-29
102998           2248     IndiGo          B777    MAA         PNQ  2023-07-17
102999           6529   SpiceJet         ATR72    BOM         MAA  2023-05-23

        Distance_km  Duration_hours  Ticket_Price    Fuel_Cost  \
0            1384.0        3.094867   2963.516704  3828.490167
1             519.0             NaN   2912.486246  1790.502002
2            1423.0        2.112585   2177.869901  5122.704201
3             907.0        1.515557   2204.381503  3289.369504
4             529.0        1.717573   2321.112931  1543.099700
...             ...             ...           ...          ...
102995       1753.0        2.531112   2995.180173  6435.115093
102996        519.0        1.137145   2971.397586  2030.405612
102997          0.0        0.500000   3380.840213   500.000000
102998        933.0        1.425115   3542.425616  3908.780885
102999       1056.0        2.655092   2963.984721  2977.489964

       Weather_Condition  Delay_minutes  Passenger_Count
0                 Cloudy       0.000000               62
1                 Cloudy      27.908655              119
2                 Cloudy      26.339672              122
3                 Cloudy      13.771963              143
4                  Clear      18.920403               40
...                  ...            ...              ...
102995             Clear       7.730974              195
102996             Clear       3.564183              158
102997             Clear       0.000000               93
102998             Rainy      27.970932              243
102999             Foggy      88.251829               65

[100000 rows x 13 columns]>

In [67]:
df.filter

<bound method NDFrame.filter of         Flight_Number    Airline Aircraft_Type Origin Destination        Date  \
0                8498   SpiceJet         ATR72    CCU         MAA  2023-06-12
1                5263     IndiGo          A320    AMD         PNQ  2023-09-21
2                1877      GoAir          B737    CCU         DEL  2023-11-30
3                1598      GoAir          B737    AMD         HYD  2023-06-30
4                2722      GoAir         ATR72    HYD         PNQ  2023-10-24
...               ...        ...           ...    ...         ...         ...
102995           2098      GoAir          A321    CCU         AMD  2023-12-06
102996           1978      GoAir          A321    AMD         PNQ  2023-07-21
102997           7474  Air India          A320    DEL         DEL  2023-08-29
102998           2248     IndiGo          B777    MAA         PNQ  2023-07-17
102999           6529   SpiceJet         ATR72    BOM         MAA  2023-05-23

        Distance_km  Duration_hours  Ticket_Price    Fuel_Cost  \
0            1384.0        3.094867   2963.516704  3828.490167
1             519.0             NaN   2912.486246  1790.502002
2            1423.0        2.112585   2177.869901  5122.704201
3             907.0        1.515557   2204.381503  3289.369504
4             529.0        1.717573   2321.112931  1543.099700
...             ...             ...           ...          ...
102995       1753.0        2.531112   2995.180173  6435.115093
102996        519.0        1.137145   2971.397586  2030.405612
102997          0.0        0.500000   3380.840213   500.000000
102998        933.0        1.425115   3542.425616  3908.780885
102999       1056.0        2.655092   2963.984721  2977.489964

       Weather_Condition  Delay_minutes  Passenger_Count
0                 Cloudy       0.000000               62
1                 Cloudy      27.908655              119
2                 Cloudy      26.339672              122
3                 Cloudy      13.771963              143
4                  Clear      18.920403               40
...                  ...            ...              ...
102995             Clear       7.730974              195
102996             Clear       3.564183              158
102997             Clear       0.000000               93
102998             Rainy      27.970932              243
102999             Foggy      88.251829               65

[100000 rows x 13 columns]>

In [68]:
ADD = {}
for i in at:
    ADD[i] = df[(df["Aircraft_Type"]== i)]["Distance_km"].unique().tolist()

# ADD  stores values in the form {aircraft_type:[mean_distances]}

# for i,j in ADD.items():
#     for k in j:
#         li = df.loc[(df["Aircraft_Type"]== i) & (df["Distance_km"]==k)]["Weather_Condition"].unique().tolist()
#         print(i,k,li)

# we get to know that for each aircraft type and distance there are only 4 weather conditions

WC = df["Weather_Condition"].unique().tolist()
AWDD={}
for i,j in ADD.items():
    for k in j:
        for w in WC:
            me = df.loc[(df["Aircraft_Type"]== i) & (df["Distance_km"]==k) & (df["Weather_Condition"]==w)]["Duration_hours"].mean()
            AWDD[(i,k,w)]=me
AWDD

{('ATR72', 1384.0, 'Cloudy'): 3.2799305054201127,
 ('ATR72', 1384.0, 'Clear'): 3.2660382235090943,
 ('ATR72', 1384.0, 'Rainy'): 3.285693321626372,
 ('ATR72', 1384.0, 'Foggy'): 3.276873701639284,
 ('ATR72', 529.0, 'Cloudy'): 1.5613488593336915,
 ('ATR72', 529.0, 'Clear'): 1.5657038761017916,
 ('ATR72', 529.0, 'Rainy'): 1.5528355267387646,
 ('ATR72', 529.0, 'Foggy'): 1.549125347818819,
 ('ATR72', 1395.0, 'Cloudy'): 3.2956940155664025,
 ('ATR72', 1395.0, 'Clear'): 3.279917688396375,
 ('ATR72', 1395.0, 'Rainy'): 3.2815183942231503,
 ('ATR72', 1395.0, 'Foggy'): 3.302986639724873,
 ('ATR72', 1238.0, 'Cloudy'): 2.9738756754153264,
 ('ATR72', 1238.0, 'Clear'): 2.98616274029379,
 ('ATR72', 1238.0, 'Rainy'): 2.962726085009299,
 ('ATR72', 1238.0, 'Foggy'): 2.993909877866571,
 ('ATR72', 0.0, 'Cloudy'): 0.5434223761179411,
 ('ATR72', 0.0, 'Clear'): 0.5389497988835725,
 ('ATR72', 0.0, 'Rainy'): 0.5352835073749882,
 ('ATR72', 0.0, 'Foggy'): 0.532549066776837,
 ('ATR72', 439.0, 'Cloudy'): 1.3719944365283794,
 ('ATR72', 439.0, 'Clear'): 1.370507778446177,
 ('ATR72', 439.0, 'Rainy'): 1.3808647386437667,
 ('ATR72', 439.0, 'Foggy'): 1.356666190422969,
 ('ATR72', 1265.0, 'Cloudy'): 3.0383274228621295,
 ('ATR72', 1265.0, 'Clear'): 3.034279083622471,
 ('ATR72', 1265.0, 'Rainy'): 3.0322205650672873,
 ('ATR72', 1265.0, 'Foggy'): 3.045517006469105,
 ('ATR72', 1747.0, 'Cloudy'): 3.9992873933191153,
 ('ATR72', 1747.0, 'Clear'): 3.9988544426401695,
 ('ATR72', 1747.0, 'Rainy'): 4.013702646228476,
 ('ATR72', 1747.0, 'Foggy'): 3.9902884654661688,
 ('ATR72', 124.0, 'Cloudy'): 0.7399451615320686,
 ('ATR72', 124.0, 'Clear'): 0.7519135128838257,
 ('ATR72', 124.0, 'Rainy'): 0.7623833176626117,
 ('ATR72', 124.0, 'Foggy'): 0.7521664554536261,
 ('ATR72', 1601.0, 'Cloudy'): 3.7006574949350757,
 ('ATR72', 1601.0, 'Clear'): 3.6985487923858087,
 ('ATR72', 1601.0, 'Rainy'): 3.729011690120315,
 ('ATR72', 1601.0, 'Foggy'): 3.6984668910895717,
 ('ATR72', 1186.0, 'Cloudy'): 2.8711553747927776,
 ('ATR72', 1186.0, 'Clear'): 2.8721357497544213,
 ('ATR72', 1186.0, 'Rainy'): 2.877739488977794,
 ('ATR72', 1186.0, 'Foggy'): 2.8782001873381002,
 ('ATR72', 907.0, 'Cloudy'): 2.311288970493024,
 ('ATR72', 907.0, 'Clear'): 2.3096068295150425,
 ('ATR72', 907.0, 'Rainy'): 2.311461905860442,
 ('ATR72', 907.0, 'Foggy'): 2.304292218500397,
 ('ATR72', 1247.0, 'Cloudy'): 2.9843771534454073,
 ('ATR72', 1247.0, 'Clear'): 2.9896049765406296,
 ('ATR72', 1247.0, 'Rainy'): 2.981953982627603,
 ('ATR72', 1247.0, 'Foggy'): 2.9824962327159423,
 ('ATR72', 1753.0, 'Cloudy'): 4.011561981677685,
 ('ATR72', 1753.0, 'Clear'): 4.0156391380953425,
 ('ATR72', 1753.0, 'Rainy'): 4.010992258136845,
 ('ATR72', 1753.0, 'Foggy'): 4.000360771800793,
 ('ATR72', 933.0, 'Cloudy'): 2.358167025327206,
 ('ATR72', 933.0, 'Clear'): 2.3721037884863647,
 ('ATR72', 933.0, 'Rainy'): 2.3738278713213266,
 ('ATR72', 933.0, 'Foggy'): 2.3782054512572466,
 ('ATR72', 516.0, 'Cloudy'): 1.5277016734415367,
 ('ATR72', 516.0, 'Clear'): 1.528489133426857,
 ('ATR72', 516.0, 'Rainy'): 1.5227843675407042,
 ('ATR72', 516.0, 'Foggy'): 1.537633723460282,
 ('ATR72', 1769.0, 'Cloudy'): 4.042572763893373,
 ('ATR72', 1769.0, 'Clear'): 4.026045968071431,
 ('ATR72', 1769.0, 'Rainy'): 4.021380317781978,
 ('ATR72', 1769.0, 'Foggy'): 4.028218424534676,
 ('ATR72', 519.0, 'Cloudy'): 1.5434401049337223,
 ('ATR72', 519.0, 'Clear'): 1.5427865733548713,
 ('ATR72', 519.0, 'Rainy'): 1.5277400313037754,
 ('ATR72', 519.0, 'Foggy'): 1.5376897486313108,
 ('ATR72', 1423.0, 'Cloudy'): 3.3410125275770395,
 ('ATR72', 1423.0, 'Clear'): 3.331540383314849,
 ('ATR72', 1423.0, 'Rainy'): 3.3368219044437004,
 ('ATR72', 1423.0, 'Foggy'): 3.356222733355133,
 ('ATR72', 742.0, 'Cloudy'): 1.9822225174597738,
 ('ATR72', 742.0, 'Clear'): 1.98558225235405,
 ('ATR72', 742.0, 'Rainy'): 1.989686112770365,
 ('ATR72', 742.0, 'Foggy'): 1.9663248200263779,
 ('ATR72', 297.0, 'Cloudy'): 1.0971461387352504,
 ('ATR72', 297.0, 'Clear'): 1.099121918759203,
 ('ATR72', 297.0, 'Rainy'): 1.0961583778397026,
 ('ATR72', 297.0, 'Foggy'): 1.09991137451116,
 ('ATR72', 1671.0, 'Cloudy'): 3.8510681968040608,
 ('ATR72', 1671.0, 'Clear'): 3.8425031449146037,
 ('ATR72', 1671.0, 'Rainy'): 3.858812872600031,
 ('ATR72', 1671.0, 'Foggy'): 3.8528543134768944,
 ('ATR72', 1167.0, 'Cloudy'): 2.834051388494405,
 ('ATR72', 1167.0, 'Clear'): 2.8453101080283685,
 ('ATR72', 1167.0, 'Rainy'): 2.8208428364805718,
 ('ATR72', 1167.0, 'Foggy'): 2.85392703328106,
 ('ATR72', 499.0, 'Cloudy'): 1.4953820502540003,
 ('ATR72', 499.0, 'Clear'): 1.4962459779587425,
 ('ATR72', 499.0, 'Rainy'): 1.5167203889376675,
 ('ATR72', 499.0, 'Foggy'): 1.5192849792813388,
 ('ATR72', 856.0, 'Cloudy'): 2.2170295811305114,
 ('ATR72', 856.0, 'Clear'): 2.2222980235260565,
 ('ATR72', 856.0, 'Rainy'): 2.2181820944367927,
 ('ATR72', 856.0, 'Foggy'): 2.222444937125793,
 ('ATR72', 650.0, 'Cloudy'): 1.8044437153407147,
 ('ATR72', 650.0, 'Clear'): 1.7953350794807377,
 ('ATR72', 650.0, 'Rainy'): 1.7787034910130106,
 ('ATR72', 650.0, 'Foggy'): 1.7943900175392933,
 ('ATR72', 806.0, 'Cloudy'): 2.1191919510304698,
 ('ATR72', 806.0, 'Clear'): 2.1142703282092383,
 ('ATR72', 806.0, 'Rainy'): 2.111626186549459,
 ('ATR72', 806.0, 'Foggy'): 2.123167294176917,
 ('ATR72', 1762.0, 'Cloudy'): 4.022498121778684,
 ('ATR72', 1762.0, 'Clear'): 4.0234707583121105,
 ('ATR72', 1762.0, 'Rainy'): 4.028979786514166,
 ('ATR72', 1762.0, 'Foggy'): 4.043265596449436,
 ('ATR72', 1056.0, 'Cloudy'): 2.6190166928813228,
 ('ATR72', 1056.0, 'Clear'): 2.6049523171933346,
 ('ATR72', 1056.0, 'Rainy'): 2.612780106808882,
 ('ATR72', 1056.0, 'Foggy'): 2.6211508067213556,
 ('A320', 519.0, 'Cloudy'): 1.10880095748402,
 ('A320', 519.0, 'Clear'): 1.1117541882337776,
 ('A320', 519.0, 'Rainy'): 1.1019733298267815,
 ('A320', 519.0, 'Foggy'): 1.1168967970559611,
 ('A320', 1056.0, 'Cloudy'): 1.7519791789520978,
 ('A320', 1056.0, 'Clear'): 1.7450465243790378,
 ('A320', 1056.0, 'Rainy'): 1.7568096142270169,
 ('A320', 1056.0, 'Foggy'): 1.7494556006296498,
 ('A320', 1423.0, 'Cloudy'): 2.1769344970623075,
 ('A320', 1423.0, 'Clear'): 2.160449566562371,
 ('A320', 1423.0, 'Rainy'): 2.1705577026257132,
 ('A320', 1423.0, 'Foggy'): 2.160009786642281,
 ('A320', 1186.0, 'Cloudy'): 1.893385241120646,
 ('A320', 1186.0, 'Clear'): 1.8854701991240603,
 ('A320', 1186.0, 'Rainy'): 1.9085649083063805,
 ('A320', 1186.0, 'Foggy'): 1.9127645732711887,
 ('A320', 1395.0, 'Cloudy'): 2.1342647404978266,
 ('A320', 1395.0, 'Clear'): 2.1417138553548645,
 ('A320', 1395.0, 'Rainy'): 2.1370717911822026,
 ('A320', 1395.0, 'Foggy'): 2.1602683597182493,
 ('A320', 1671.0, 'Cloudy'): 2.469775449463745,
 ('A320', 1671.0, 'Clear'): 2.4639819219123917,
 ('A320', 1671.0, 'Rainy'): 2.478473630483633,
 ('A320', 1671.0, 'Foggy'): 2.480691876684167,
 ('A320', 0.0, 'Cloudy'): 0.5400925535728441,
 ('A320', 0.0, 'Clear'): 0.5405240816727197,
 ('A320', 0.0, 'Rainy'): 0.5378958293263698,
 ('A320', 0.0, 'Foggy'): 0.5450898398882847,
 ('A320', 742.0, 'Cloudy'): 1.3919872618183495,
 ('A320', 742.0, 'Clear'): 1.3861765451261805,
 ('A320', 742.0, 'Rainy'): 1.3756752785947142,
 ('A320', 742.0, 'Foggy'): 1.361253966557414,
 ('A320', 516.0, 'Cloudy'): 1.0985841067607702,
 ('A320', 516.0, 'Clear'): 1.1008377282824464,
 ('A320', 516.0, 'Rainy'): 1.112025275755679,
 ('A320', 516.0, 'Foggy'): 1.142317673926278,
 ('A320', 1747.0, 'Cloudy'): 2.560908245620041,
 ('A320', 1747.0, 'Clear'): 2.563206406476112,
 ('A320', 1747.0, 'Rainy'): 2.5689763274983513,
 ('A320', 1747.0, 'Foggy'): 2.5223569553991867,
 ('A320', 907.0, 'Cloudy'): 1.5679547872061337,
 ('A320', 907.0, 'Clear'): 1.5727065924262675,
 ('A320', 907.0, 'Rainy'): 1.5712156601894125,
 ('A320', 907.0, 'Foggy'): 1.5628552270018117,
 ('A320', 933.0, 'Cloudy'): 1.5949099918701504,
 ('A320', 933.0, 'Clear'): 1.603240412718192,
 ('A320', 933.0, 'Rainy'): 1.5847040942275417,
 ('A320', 933.0, 'Foggy'): 1.6122745291329617,
 ('A320', 856.0, 'Cloudy'): 1.5110107684863263,
 ('A320', 856.0, 'Clear'): 1.5133006409868546,
 ('A320', 856.0, 'Rainy'): 1.5192261730882957,
 ('A320', 856.0, 'Foggy'): 1.4777523241745234,
 ('A320', 806.0, 'Cloudy'): 1.4515411448551816,
 ('A320', 806.0, 'Clear'): 1.4378365635271613,
 ('A320', 806.0, 'Rainy'): 1.4753714034312333,
 ('A320', 806.0, 'Foggy'): 1.4822753896528964,
 ('A320', 499.0, 'Cloudy'): 1.0904674886633,
 ('A320', 499.0, 'Clear'): 1.0895841829106943,
 ('A320', 499.0, 'Rainy'): 1.095688293625017,
 ('A320', 499.0, 'Foggy'): 1.0774349706791584,
 ('A320', 1167.0, 'Cloudy'): 1.8698744118122312,
 ('A320', 1167.0, 'Clear'): 1.888863807903552,
 ('A320', 1167.0, 'Rainy'): 1.8872931021617285,
 ('A320', 1167.0, 'Foggy'): 1.9022728331327863,
 ('A320', 297.0, 'Cloudy'): 0.856539665608459,
 ('A320', 297.0, 'Clear'): 0.8531585262662017,
 ('A320', 297.0, 'Rainy'): 0.8573302817684529,
 ('A320', 297.0, 'Foggy'): 0.8727884573939523,
 ('A320', 1265.0, 'Cloudy'): 1.9890482531243925,
 ('A320', 1265.0, 'Clear'): 1.9891612113215522,
 ('A320', 1265.0, 'Rainy'): 1.99601087149406,
 ('A320', 1265.0, 'Foggy'): 1.9611408681932476,
 ('A320', 529.0, 'Cloudy'): 1.116956236577887,
 ('A320', 529.0, 'Clear'): 1.1134328826007467,
 ('A320', 529.0, 'Rainy'): 1.1398583214142373,
 ('A320', 529.0, 'Foggy'): 1.1486446597599247,
 ('A320', 1753.0, 'Cloudy'): 2.569567071752086,
 ('A320', 1753.0, 'Clear'): 2.5582489083939817,
 ('A320', 1753.0, 'Rainy'): 2.560598171321615,
 ('A320', 1753.0, 'Foggy'): 2.5853477980010826,
 ('A320', 1238.0, 'Cloudy'): 1.9610014633754804,
 ('A320', 1238.0, 'Clear'): 1.9451674277265745,
 ('A320', 1238.0, 'Rainy'): 1.956845882039145,
 ('A320', 1238.0, 'Foggy'): 1.9738526737927966,
 ('A320', 1769.0, 'Cloudy'): 2.5782726019579494,
 ('A320', 1769.0, 'Clear'): 2.585559273756225,
 ('A320', 1769.0, 'Rainy'): 2.5812726514434274,
 ('A320', 1769.0, 'Foggy'): 2.5801520973364274,
 ('A320', 439.0, 'Cloudy'): 1.0167790691244654,
 ('A320', 439.0, 'Clear'): 1.0157101560089692,
 ('A320', 439.0, 'Rainy'): 1.0230753388889517,
 ('A320', 439.0, 'Foggy'): 0.9931559790471032,
 ('A320', 1247.0, 'Cloudy'): 1.981899128677646,
 ('A320', 1247.0, 'Clear'): 1.9715101479806565,
 ('A320', 1247.0, 'Rainy'): 1.9671478331790069,
 ('A320', 1247.0, 'Foggy'): 1.9795225450120821,
 ('A320', 1601.0, 'Cloudy'): 2.3919618049427256,
 ('A320', 1601.0, 'Clear'): 2.3742650670077614,
 ('A320', 1601.0, 'Rainy'): 2.38878452416135,
 ('A320', 1601.0, 'Foggy'): 2.383335333927324,
 ('A320', 124.0, 'Cloudy'): 0.6540510787976155,
 ('A320', 124.0, 'Clear'): 0.6425735350136371,
 ('A320', 124.0, 'Rainy'): 0.6635436299022784,
 ('A320', 124.0, 'Foggy'): 0.6520201258048419,
 ('A320', 1384.0, 'Cloudy'): 2.1425822411764233,
 ('A320', 1384.0, 'Clear'): 2.1275793580426487,
 ('A320', 1384.0, 'Rainy'): 2.1287851400918223,
 ('A320', 1384.0, 'Foggy'): 2.0912414900163454,
 ('A320', 650.0, 'Cloudy'): 1.274778655568204,
 ('A320', 650.0, 'Clear'): 1.2715667110127837,
 ('A320', 650.0, 'Rainy'): 1.2556439474547914,
 ('A320', 650.0, 'Foggy'): 1.2839545169905289,
 ('A320', 1762.0, 'Cloudy'): 2.566093819295141,
 ('A320', 1762.0, 'Clear'): 2.5631043596904286,
 ('A320', 1762.0, 'Rainy'): 2.576193923834524,
 ('A320', 1762.0, 'Foggy'): 2.5615275643935487,
 ('B737', 1423.0, 'Cloudy'): 2.191470212933568,
 ('B737', 1423.0, 'Clear'): 2.2002497333726345,
 ('B737', 1423.0, 'Rainy'): 2.1963354726195896,
 ('B737', 1423.0, 'Foggy'): 2.2129229751005766,
 ('B737', 907.0, 'Cloudy'): 1.582922097902194,
 ('B737', 907.0, 'Clear'): 1.5824281650417464,
 ('B737', 907.0, 'Rainy'): 1.559757387105817,
 ('B737', 907.0, 'Foggy'): 1.5920488234364771,
 ('B737', 516.0, 'Cloudy'): 1.1212079012047929,
 ('B737', 516.0, 'Clear'): 1.1151273304161562,
 ('B737', 516.0, 'Rainy'): 1.1095269967204124,
 ('B737', 516.0, 'Foggy'): 1.0974170666335483,
 ('B737', 0.0, 'Cloudy'): 0.5429999728192217,
 ('B737', 0.0, 'Clear'): 0.539428078378873,
 ('B737', 0.0, 'Rainy'): 0.5417438983060547,
 ('B737', 0.0, 'Foggy'): 0.5423136254164375,
 ('B737', 439.0, 'Cloudy'): 1.0118132504209292,
 ('B737', 439.0, 'Clear'): 1.0203982455193612,
 ('B737', 439.0, 'Rainy'): 1.032883046580752,
 ('B737', 439.0, 'Foggy'): 1.0299522213324186,
 ('B737', 856.0, 'Cloudy'): 1.5204473965407483,
 ('B737', 856.0, 'Clear'): 1.517444405230327,
 ('B737', 856.0, 'Rainy'): 1.5296424992853392,
 ('B737', 856.0, 'Foggy'): 1.5093848656201374,
 ('B737', 1753.0, 'Cloudy'): 2.6053457988231727,
 ('B737', 1753.0, 'Clear'): 2.5832393917011034,
 ('B737', 1753.0, 'Rainy'): 2.5716328955937526,
 ('B737', 1753.0, 'Foggy'): 2.574370365306297,
 ('B737', 933.0, 'Cloudy'): 1.616952097523202,
 ('B737', 933.0, 'Clear'): 1.6057969064405633,
 ('B737', 933.0, 'Rainy'): 1.5864604216987939,
 ('B737', 933.0, 'Foggy'): 1.5895515583976485,
 ('B737', 1384.0, 'Cloudy'): 2.127930757466861,
 ('B737', 1384.0, 'Clear'): 2.1491854295826522,
 ('B737', 1384.0, 'Rainy'): 2.152248470545586,
 ('B737', 1384.0, 'Foggy'): 2.1477239518418063,
 ('B737', 1167.0, 'Cloudy'): 1.8832524829284227,
 ('B737', 1167.0, 'Clear'): 1.893779989857219,
 ('B737', 1167.0, 'Rainy'): 1.8918186675241593,
 ('B737', 1167.0, 'Foggy'): 1.9013339993886187,
 ('B737', 1762.0, 'Cloudy'): 2.580754134334676,
 ('B737', 1762.0, 'Clear'): 2.5995524198553253,
 ('B737', 1762.0, 'Rainy'): 2.5867070901617573,
 ('B737', 1762.0, 'Foggy'): 2.5944058875798675,
 ('B737', 1395.0, 'Cloudy'): 2.1748513435567234,
 ('B737', 1395.0, 'Clear'): 2.1518020002715574,
 ('B737', 1395.0, 'Rainy'): 2.1497066577824966,
 ('B737', 1395.0, 'Foggy'): 2.1715162086490323,
 ('B737', 742.0, 'Cloudy'): 1.3887086184307373,
 ('B737', 742.0, 'Clear'): 1.3879535521957787,
 ('B737', 742.0, 'Rainy'): 1.402162244419989,
 ('B737', 742.0, 'Foggy'): 1.3958756791971936,
 ('B737', 1747.0, 'Cloudy'): 2.576617960152825,
 ('B737', 1747.0, 'Clear'): 2.5761046109187897,
 ('B737', 1747.0, 'Rainy'): 2.6019480647956783,
 ('B737', 1747.0, 'Foggy'): 2.5634848953462925,
 ('B737', 650.0, 'Cloudy'): 1.2826776372280921,
 ('B737', 650.0, 'Clear'): 1.2679214230306952,
 ('B737', 650.0, 'Rainy'): 1.2534738731008446,
 ('B737', 650.0, 'Foggy'): 1.284490645063643,
 ('B737', 1238.0, 'Cloudy'): 1.9648487913475263,
 ('B737', 1238.0, 'Clear'): 1.9771481456558622,
 ('B737', 1238.0, 'Rainy'): 1.9662224893558593,
 ('B737', 1238.0, 'Foggy'): 1.9851139015444257,
 ('B737', 1769.0, 'Cloudy'): 2.6046604710535526,
 ('B737', 1769.0, 'Clear'): 2.602354425096194,
 ('B737', 1769.0, 'Rainy'): 2.6177324224834,
 ('B737', 1769.0, 'Foggy'): 2.636944880863493,
 ('B737', 519.0, 'Cloudy'): 1.1195332264935978,
 ('B737', 519.0, 'Clear'): 1.10875411976853,
 ('B737', 519.0, 'Rainy'): 1.132392480704862,
 ('B737', 519.0, 'Foggy'): 1.1112326771574925,
 ('B737', 124.0, 'Cloudy'): 0.6571233986226761,
 ('B737', 124.0, 'Clear'): 0.6514534413572145,
 ('B737', 124.0, 'Rainy'): 0.6461333908383916,
 ('B737', 124.0, 'Foggy'): 0.6275961079709961,
 ('B737', 1671.0, 'Cloudy'): 2.4864614778459178,
 ('B737', 1671.0, 'Clear'): 2.476821276768633,
 ('B737', 1671.0, 'Rainy'): 2.4774523641177337,
 ('B737', 1671.0, 'Foggy'): 2.4550932084786687,
 ('B737', 529.0, 'Cloudy'): 1.1355329699221755,
 ('B737', 529.0, 'Clear'): 1.1325122351603576,
 ('B737', 529.0, 'Rainy'): 1.1237408767400756,
 ('B737', 529.0, 'Foggy'): 1.1235050448770967,
 ('B737', 297.0, 'Cloudy'): 0.8528698604375973,
 ('B737', 297.0, 'Clear'): 0.8534221375536114,
 ('B737', 297.0, 'Rainy'): 0.8652497829420641,
 ('B737', 297.0, 'Foggy'): 0.8479977649388183,
 ('B737', 1601.0, 'Cloudy'): 2.4075258544770586,
 ('B737', 1601.0, 'Clear'): 2.413340255763987,
 ('B737', 1601.0, 'Rainy'): 2.395027334956876,
 ('B737', 1601.0, 'Foggy'): 2.3638862545686936,
 ('B737', 1265.0, 'Cloudy'): 1.9982741985974501,
 ('B737', 1265.0, 'Clear'): 2.013351882303347,
 ('B737', 1265.0, 'Rainy'): 2.01534886596737,
 ('B737', 1265.0, 'Foggy'): 2.0178089545009987,
 ('B737', 499.0, 'Cloudy'): 1.0981118892596622,
 ('B737', 499.0, 'Clear'): 1.0891004912847175,
 ('B737', 499.0, 'Rainy'): 1.0976301397798378,
 ('B737', 499.0, 'Foggy'): 1.074530034854046,
 ('B737', 1247.0, 'Cloudy'): 1.9736090158371842,
 ('B737', 1247.0, 'Clear'): 1.9828022735791655,
 ('B737', 1247.0, 'Rainy'): 1.9926683171628718,
 ('B737', 1247.0, 'Foggy'): 1.9708925704398137,
 ('B737', 1056.0, 'Cloudy'): 1.7714489625018566,
 ('B737', 1056.0, 'Clear'): 1.7617809925187318,
 ('B737', 1056.0, 'Rainy'): 1.7517472261539575,
 ('B737', 1056.0, 'Foggy'): 1.7434713303265819,
 ('B737', 806.0, 'Cloudy'): 1.4613029435625748,
 ('B737', 806.0, 'Clear'): 1.466129417185321,
 ('B737', 806.0, 'Rainy'): 1.4660676792902358,
 ('B737', 806.0, 'Foggy'): 1.4509417993489786,
 ('B737', 1186.0, 'Cloudy'): 1.9112075615274433,
 ('B737', 1186.0, 'Clear'): 1.9025659151116976,
 ('B737', 1186.0, 'Rainy'): 1.9217932916160567,
 ('B737', 1186.0, 'Foggy'): 1.8906638055056006,
 ('A321', 516.0, 'Cloudy'): 1.0982976032788023,
 ('A321', 516.0, 'Clear'): 1.1059188038002137,
 ('A321', 516.0, 'Rainy'): 1.0944206903674034,
 ('A321', 516.0, 'Foggy'): 1.0919831753602887,
 ('A321', 499.0, 'Cloudy'): 1.0801248428447758,
 ('A321', 499.0, 'Clear'): 1.0762884613846744,
 ('A321', 499.0, 'Rainy'): 1.0756713618241645,
 ('A321', 499.0, 'Foggy'): 1.0644274727502336,
 ('A321', 297.0, 'Cloudy'): 0.8348163062613434,
 ('A321', 297.0, 'Clear'): 0.843777770945566,
 ('A321', 297.0, 'Rainy'): 0.8457158834586866,
 ('A321', 297.0, 'Foggy'): 0.8380676269801708,
 ('A321', 1238.0, 'Cloudy'): 1.9501967736395527,
 ('A321', 1238.0, 'Clear'): 1.9457491947391747,
 ('A321', 1238.0, 'Rainy'): 1.9441198518046923,
 ('A321', 1238.0, 'Foggy'): 1.9505147698159706,
 ('A321', 1601.0, 'Cloudy'): 2.3574444545976236,
 ('A321', 1601.0, 'Clear'): 2.357977236597803,
 ('A321', 1601.0, 'Rainy'): 2.365285516840324,
 ('A321', 1601.0, 'Foggy'): 2.3645119608084024,
 ('A321', 1384.0, 'Cloudy'): 2.1087526637518876,
 ('A321', 1384.0, 'Clear'): 2.1063465536741917,
 ('A321', 1384.0, 'Rainy'): 2.1097467728811443,
 ('A321', 1384.0, 'Foggy'): 2.128891047442321,
 ('A321', 1671.0, 'Cloudy'): 2.446817944388764,
 ('A321', 1671.0, 'Clear'): 2.4386843675859042,
 ('A321', 1671.0, 'Rainy'): 2.4459405876124025,
 ('A321', 1671.0, 'Foggy'): 2.413498243976509,
 ('A321', 1186.0, 'Cloudy'): 1.8772112333718944,
 ('A321', 1186.0, 'Clear'): 1.8757210624498646,
 ('A321', 1186.0, 'Rainy'): 1.8705844607086943,
 ('A321', 1186.0, 'Foggy'): 1.8456980617355387,
 ('A321', 1769.0, 'Cloudy'): 2.561517639117535,
 ('A321', 1769.0, 'Clear'): 2.5504662844926242,
 ('A321', 1769.0, 'Rainy'): 2.56956075427648,
 ('A321', 1769.0, 'Foggy'): 2.5534987546202017,
 ('A321', 1395.0, 'Cloudy'): 2.1276990315384,
 ('A321', 1395.0, 'Clear'): 2.1173166082428905,
 ('A321', 1395.0, 'Rainy'): 2.112998402752535,
 ('A321', 1395.0, 'Foggy'): 2.1228277244623617,
 ('A321', 1167.0, 'Cloudy'): 1.84485482736061,
 ('A321', 1167.0, 'Clear'): 1.8588289870981014,
 ('A321', 1167.0, 'Rainy'): 1.852580366528025,
 ('A321', 1167.0, 'Foggy'): 1.8698588130245108,
 ('A321', 933.0, 'Cloudy'): 1.5746861529550198,
 ('A321', 933.0, 'Clear'): 1.5836112619456397,
 ('A321', 933.0, 'Rainy'): 1.6024801321319995,
 ('A321', 933.0, 'Foggy'): 1.61114794512909,
 ('A321', 856.0, 'Cloudy'): 1.5011396420846277,
 ('A321', 856.0, 'Clear'): 1.4973208008762684,
 ('A321', 856.0, 'Rainy'): 1.49561848295953,
 ('A321', 856.0, 'Foggy'): 1.5037755032966547,
 ('A321', 907.0, 'Cloudy'): 1.5514483347336623,
 ('A321', 907.0, 'Clear'): 1.5551900238014462,
 ('A321', 907.0, 'Rainy'): 1.5667089763271662,
 ('A321', 907.0, 'Foggy'): 1.5658464098830034,
 ('A321', 1753.0, 'Cloudy'): 2.5384289607328676,
 ('A321', 1753.0, 'Clear'): 2.5463807449957345,
 ('A321', 1753.0, 'Rainy'): 2.529939895123461,
 ('A321', 1753.0, 'Foggy'): 2.5064362172723174,
 ('A321', 439.0, 'Cloudy'): 1.0182919728642101,
 ('A321', 439.0, 'Clear'): 1.010779698054107,
 ('A321', 439.0, 'Rainy'): 1.002812278118512,
 ('A321', 439.0, 'Foggy'): 1.025763455674155,
 ('A321', 0.0, 'Cloudy'): 0.541999368886621,
 ('A321', 0.0, 'Clear'): 0.5391464860659747,
 ('A321', 0.0, 'Rainy'): 0.5408772527826784,
 ('A321', 0.0, 'Foggy'): 0.5409271431171506,
 ('A321', 529.0, 'Cloudy'): 1.1113813317440369,
 ('A321', 529.0, 'Clear'): 1.114093306811979,
 ('A321', 529.0, 'Rainy'): 1.0931188224221573,

In [69]:
n = 0.8348163062613434
h = int(n) # 3
m = int((n - h) * 60) # 2
s = int(round(((n - h) * 60 - m) * 60)) # 18

# Format as string

time_str = f"{h:02d}:{m:02d}:{s:02d}"
print(time_str)

00:50:05

In [70]:
df.isna().sum()

Flight_Number           0
Airline                 0
Aircraft_Type           0
Origin                  0
Destination             0
Date                    0
Distance_km             0
Duration_hours       4000
Ticket_Price         5000
Fuel_Cost            3000
Weather_Condition       0
Delay_minutes        2000
Passenger_Count         0
dtype: int64

In [71]:
for i,j in AWDD.items():
    df.loc[(df["Aircraft_Type"]== i[0]) & (df["Distance_km"]==i[1]) & (df["Weather_Condition"]==i[2]) & (df["Duration_hours"].isna()), "Duration_hours"] = j

In [72]:
df.iloc[9199]

Flight_Number               2966
Airline                 SpiceJet
Aircraft_Type              ATR72
Origin                       CCU
Destination                  MAA
Date                  2023-02-16
Distance_km               1384.0
Duration_hours          3.279931
Ticket_Price         2985.314516
Fuel_Cost            3952.799144
Weather_Condition         Cloudy
Delay_minutes          15.734359
Passenger_Count               50
Name: 9218, dtype: object

In [73]:
n =   3.279931
h = int(n) # 3
m = int((n - h) * 60) # 2
s = int(round(((n - h) * 60 - m) * 60)) # 18

# Format as string

time_str = f"{h:02d}:{m:02d}:{s:02d}"
print(time_str)

03:16:48

In [74]:
df.isna().sum()

Flight_Number           0
Airline                 0
Aircraft_Type           0
Origin                  0
Destination             0
Date                    0
Distance_km             0
Duration_hours          0
Ticket_Price         5000
Fuel_Cost            3000
Weather_Condition       0
Delay_minutes        2000
Passenger_Count         0
dtype: int64

In [75]:
ADD

{'ATR72': [1384.0,
  529.0,
  1395.0,
  1238.0,
  0.0,
  439.0,
  1265.0,
  1747.0,
  124.0,
  1601.0,
  1186.0,
  907.0,
  1247.0,
  1753.0,
  933.0,
  516.0,
  1769.0,
  519.0,
  1423.0,
  742.0,
  297.0,
  1671.0,
  1167.0,
  499.0,
  856.0,
  650.0,
  806.0,
  1762.0,
  1056.0],
 'A320': [519.0,
  1056.0,
  1423.0,
  1186.0,
  1395.0,
  1671.0,
  0.0,
  742.0,
  516.0,
  1747.0,
  907.0,
  933.0,
  856.0,
  806.0,
  499.0,
  1167.0,
  297.0,
  1265.0,
  529.0,
  1753.0,
  1238.0,
  1769.0,
  439.0,
  1247.0,
  1601.0,
  124.0,
  1384.0,
  650.0,
  1762.0],
 'B737': [1423.0,
  907.0,
  516.0,
  0.0,
  439.0,
  856.0,
  1753.0,
  933.0,
  1384.0,
  1167.0,
  1762.0,
  1395.0,
  742.0,
  1747.0,
  650.0,
  1238.0,
  1769.0,
  519.0,
  124.0,
  1671.0,
  529.0,
  297.0,
  1601.0,
  1265.0,
  499.0,
  1247.0,
  1056.0,
  806.0,
  1186.0],
 'A321': [516.0,
  499.0,
  297.0,
  1238.0,
  1601.0,
  1384.0,
  1671.0,
  1186.0,
  1769.0,
  1395.0,
  1167.0,
  933.0,
  856.0,
  907.0,
  1753.0,
  439.0,
  0.0,
  529.0,
  519.0,
  1056.0,
  806.0,
  1265.0,
  124.0,
  1423.0,
  1762.0,
  1747.0,
  742.0,
  650.0,
  1247.0],
 'B777': [1601.0,
  1186.0,
  650.0,
  1671.0,
  907.0,
  1769.0,
  1762.0,
  0.0,
  439.0,
  1423.0,
  1056.0,
  742.0,
  1384.0,
  1265.0,
  1247.0,
  1395.0,
  933.0,
  516.0,
  529.0,
  499.0,
  1167.0,
  124.0,
  519.0,
  806.0,
  1747.0,
  297.0,
  1238.0,
  856.0,
  1753.0]}

In [76]:
df.loc[(df["Aircraft_Type"] == "ATR72") & (df["Distance_km"] == 1384.0)]

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
0,8498,SpiceJet,ATR72,CCU,MAA,2023-06-12,1384.0,3.094867,2963.516704,3828.490167,Cloudy,0.000000,62
62,9646,IndiGo,ATR72,CCU,MAA,2023-06-28,1384.0,3.216014,3171.598457,3906.865921,Cloudy,13.746495,59
278,3322,SpiceJet,ATR72,MAA,CCU,2023-12-24,1384.0,3.116920,3037.153003,3872.026204,Rainy,62.016130,55
450,6915,Air India,ATR72,MAA,CCU,2023-10-09,1384.0,3.446509,NaN,3949.896876,Rainy,57.975812,52
681,6816,Vistara,ATR72,CCU,MAA,2023-07-28,1384.0,3.125889,4039.165663,3893.181745,Clear,0.000000,59
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102377,5311,IndiGo,ATR72,MAA,CCU,2023-03-07,1384.0,3.374479,3099.389836,3907.821947,Clear,0.000000,54
102498,1109,IndiGo,ATR72,CCU,MAA,2023-05-01,1384.0,3.226115,3596.842615,3789.422104,Cloudy,35.762200,53
102581,6104,SpiceJet,ATR72,CCU,MAA,2023-10-03,1384.0,3.310580,2842.445789,NaN,Foggy,105.360746,47
102585,8956,GoAir,ATR72,MAA,CCU,2023-03-27,1384.0,3.242982,2651.284220,3857.491372,Foggy,86.911233,65
102953,2118,IndiGo,ATR72,CCU,MAA,2023-08-20,1384.0,3.274420,3030.912356,3869.091152,Clear,23.851709,60

In [77]:
for i,j in ADD.items():
    for k in j:
        me = df[(df["Aircraft_Type"]== i) & (df["Distance_km"]== k) & (df["Fuel_Cost"].notna())]["Fuel_Cost"].unique().mean()
        df.loc[(df["Aircraft_Type"]== i) & (df["Distance_km"]== k) & (df["Fuel_Cost"].isna()), "Fuel_Cost"] = me

In [78]:
df.isna().sum()

Flight_Number           0
Airline                 0
Aircraft_Type           0
Origin                  0
Destination             0
Date                    0
Distance_km             0
Duration_hours          0
Ticket_Price         5000
Fuel_Cost               0
Weather_Condition       0
Delay_minutes        2000
Passenger_Count         0
dtype: int64

In [79]:
air = df["Airline"].unique().tolist()
ADD

for i,j in ADD.items():
    for k in j:
        for a in air:
            me = df[(df["Aircraft_Type"] == i) & (df["Distance_km"] == k) & (df["Airline"] == a) & (df["Ticket_Price"].notna())]["Ticket_Price"].mean()
            df.loc[(df["Aircraft_Type"] == i) & (df["Distance_km"] == k) & (df["Airline"] == a) & (df["Ticket_Price"].isna()), "Ticket_Price"] = me

In [80]:
df.isna().sum()

Flight_Number           0
Airline                 0
Aircraft_Type           0
Origin                  0
Destination             0
Date                    0
Distance_km             0
Duration_hours          0
Ticket_Price            0
Fuel_Cost               0
Weather_Condition       0
Delay_minutes        2000
Passenger_Count         0
dtype: int64

In [81]:
df[df["Delay_minutes"].isna()]

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
34,4477,Vistara,A320,BLR,PNQ,2023-02-06,742.0,1.379064,4106.881307,2595.399354,Clear,NaN,138
48,3472,Air India,A321,PNQ,DEL,2023-01-16,1186.0,1.841951,3998.750091,4353.105727,Cloudy,NaN,197
153,5908,Air India,A320,MAA,AMD,2023-10-09,1395.0,2.107292,3663.971934,4858.192350,Clear,NaN,146
183,4226,GoAir,B737,CCU,MAA,2023-04-24,1384.0,2.128102,2356.933101,5096.291787,Clear,NaN,161
226,7444,Air India,A321,BOM,CCU,2023-06-16,1762.0,2.546967,4036.746803,6580.374143,Clear,NaN,148
...,...,...,...,...,...,...,...,...,...,...,...,...,...
102712,1006,IndiGo,B777,CCU,HYD,2023-12-24,1238.0,1.757976,3824.625490,5149.057730,Clear,NaN,245
102757,8207,IndiGo,B737,PNQ,BLR,2023-01-26,742.0,1.325110,3390.907261,2788.189729,Cloudy,NaN,126
102825,4254,Vistara,A320,HYD,CCU,2023-05-14,1238.0,1.918956,3971.878835,4292.911697,Cloudy,NaN,153
102868,3464,Vistara,A321,BOM,MAA,2023-10-09,1056.0,1.656586,4928.710131,3992.604956,Clear,NaN,146
102949,1530,SpiceJet,A320,DEL,BOM,2023-05-29,1167.0,1.805644,3131.901604,4120.965447,Clear,NaN,169

In [82]:
WDD = {"Cloudy":[3,8], "Clear":[1,5], "Foggy":[5,10], "Rainy":[10,15]}
di = df["Distance_km"].unique().tolist()
BBD = {}
for i in di:
    a = np.round(i/100)
    BBD[i] = a
BBD

{1384.0: 14.0,
 519.0: 5.0,
 1423.0: 14.0,
 907.0: 9.0,
 529.0: 5.0,
 516.0: 5.0,
 1601.0: 16.0,
 1186.0: 12.0,
 1056.0: 11.0,
 650.0: 6.0,
 1395.0: 14.0,
 1671.0: 17.0,
 0.0: 0.0,
 499.0: 5.0,
 297.0: 3.0,
 439.0: 4.0,
 1238.0: 12.0,
 1769.0: 18.0,
 856.0: 9.0,
 742.0: 7.0,
 1762.0: 18.0,
 1753.0: 18.0,
 1747.0: 17.0,
 933.0: 9.0,
 1265.0: 13.0,
 1167.0: 12.0,
 124.0: 1.0,
 1247.0: 12.0,
 806.0: 8.0}

In [83]:
a = 1251.0
np.round(a/100)

13.0

In [84]:
di = df["Distance_km"].unique().tolist()
BBD = {}
for i in di:
    a = np.round(i/100)
    BBD[i] = a
BBD

{1384.0: 14.0,
 519.0: 5.0,
 1423.0: 14.0,
 907.0: 9.0,
 529.0: 5.0,
 516.0: 5.0,
 1601.0: 16.0,
 1186.0: 12.0,
 1056.0: 11.0,
 650.0: 6.0,
 1395.0: 14.0,
 1671.0: 17.0,
 0.0: 0.0,
 499.0: 5.0,
 297.0: 3.0,
 439.0: 4.0,
 1238.0: 12.0,
 1769.0: 18.0,
 856.0: 9.0,
 742.0: 7.0,
 1762.0: 18.0,
 1753.0: 18.0,
 1747.0: 17.0,
 933.0: 9.0,
 1265.0: 13.0,
 1167.0: 12.0,
 124.0: 1.0,
 1247.0: 12.0,
 806.0: 8.0}

In [85]:
WDD = {"Cloudy":[3,8], "Clear":[1,5], "Foggy":[5,10], "Rainy":[10,15]}
di = df["Distance_km"].unique().tolist()
BBD = {}
for i in di:
    a = np.round(i/100)
    BBD[i] = a
BBD
for i,j in BBD.items():
    for m,n in WDD.items():
        if m == "Clear":
            df.loc[(df["Distance_km"] == i) & (df["Weather_Condition"] == m) & (df["Delay_minutes"].isna()),
                   "Delay_minutes"] = np.random.choice(df[(df["Distance_km"] == i) & (df["Weather_Condition"] == m) & (df["Delay_minutes"].notna()) & 
                                                          (df["Delay_minutes"] >= 0.0) &
                                                          (df["Delay_minutes"] <=j+np.random.randint(n[0],n[1]))]["Delay_minutes"].unique().tolist())
            
        elif m == "Cloudy":
            df.loc[(df["Distance_km"] == i) & (df["Weather_Condition"] == m) & (df["Delay_minutes"].isna()),
                   "Delay_minutes"] = np.random.choice(df[(df["Distance_km"] == i) & (df["Weather_Condition"] == m) & (df["Delay_minutes"].notna()) & 
                                                          (df["Delay_minutes"] >= j-np.random.randint(n[0],n[1])) &
                                                          (df["Delay_minutes"] <=j+np.random.randint(n[0],n[1]))]["Delay_minutes"].unique().tolist())
            
        elif m == "Foggy":
            df.loc[(df["Distance_km"] == i) & (df["Weather_Condition"] == m) & (df["Delay_minutes"].isna()),
                   "Delay_minutes"] = np.random.choice(df[(df["Distance_km"] == i) & (df["Weather_Condition"] == m) & (df["Delay_minutes"].notna())]
                                                          ["Delay_minutes"].unique().tolist())
            
        elif m == "Rainy":
            df.loc[(df["Distance_km"] == i) & (df["Weather_Condition"] == m) & (df["Delay_minutes"].isna()),
                   "Delay_minutes"] = np.random.choice(df[(df["Distance_km"] == i) & (df["Weather_Condition"] == m) & (df["Delay_minutes"].notna()) & 
                                                          (df["Delay_minutes"] >= j) &
                                                          (df["Delay_minutes"] <=2*j+(np.random.randint(n[0],n[1])))]["Delay_minutes"].unique().tolist())

In [86]:
df.isna().sum()

Flight_Number        0
Airline              0
Aircraft_Type        0
Origin               0
Destination          0
Date                 0
Distance_km          0
Duration_hours       0
Ticket_Price         0
Fuel_Cost            0
Weather_Condition    0
Delay_minutes        0
Passenger_Count      0
dtype: int64

In [87]:
# WDD = {"Cloudy":[1,5], "Clear":[1,5], "Foggy":[5,10], "Rainy":[10,15]}


# di = df["Distance_km"].unique().tolist()
# BBD = {}
# for i in di:
#     a = np.round(i/100)   
#     BBD[i] = a


# WC = df["Weather_Condition"].unique().tolist()


# if "Delay_minutes" not in df.columns:
#     df["Delay_minutes"] = np.nan


# for dist_val, dist_factor in BBD.items():
#     for weather in WC:

#         w_range = WDD.get(weather, [1, 5])
#         w_min, w_max = w_range[0], w_range[1]
        

#         mask = (
#             (df["Distance_km"] == dist_val) &
#             (df["Weather_Condition"] == weather) &
#             (df["Delay_minutes"].isna())
#         )


#         n = mask.sum()
#         if n == 0:
#             continue


#         base_delays = np.random.uniform(low=w_min, high=w_max, size=n)


#         final_delays = base_delays * (dist_factor / 5.0)

#         final_delays = np.round(final_delays, 2)

        
#         df.loc[mask, "Delay_minutes"] = final_delays

In [88]:
df.isna().sum()

Flight_Number        0
Airline              0
Aircraft_Type        0
Origin               0
Destination          0
Date                 0
Distance_km          0
Duration_hours       0
Ticket_Price         0
Fuel_Cost            0
Weather_Condition    0
Delay_minutes        0
Passenger_Count      0
dtype: int64

In [89]:
# air_delay = df["Airline"].unique().tolist()
# ADD

# for i,j in ADD.items():
#     for k in j:
#         for a in air_delay:
#             me = df[(df["Aircraft_Type"] == i) & (df["Distance_km"] == k) & (df["Airline"] == a) & (df["Delay_minutes"].notna())]["Delay_minutes"].mean()
#             df.loc[(df["Aircraft_Type"] == i) & (df["Distance_km"] == k) & (df["Airline"] == a) & (df["Delay_minutes"].isna()), "Delay_minutes"] = me

In [90]:
# df[df["Delay_minutes"].isna()]

In [91]:
df.iloc[102975:]

Empty DataFrame
Columns: [Flight_Number, Airline, Aircraft_Type, Origin, Destination, Date, Distance_km, Duration_hours, Ticket_Price, Fuel_Cost, Weather_Condition, Delay_minutes, Passenger_Count]
Index: []

In [92]:
df.loc[(df["Flight_Number"]==8047)& (df["Airline"]=="Vistara")]

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
83304,8047,Vistara,A320,AMD,BOM,2023-03-05,439.0,1.158153,3960.313385,1507.588273,Clear,4.485186,128
102974,8047,Vistara,B777,AMD,CCU,2023-08-08,1753.0,2.533563,5143.983572,7359.807145,Cloudy,27.171770,252

In [93]:
def fnc(n):
    h=int(n)
    m=int((n-h)*60)
    s=int(round((n-h)*60 -m ) * 60)

    time_str=f"{h:02d}:{m:02d}:{s:02d}"
    return time_str

df["Duration_hours"]=df["Duration_hours"].apply(lambda x: fnc(x))

In [94]:
df.loc[(df["Flight_Number"]==8047)& (df["Airline"]=="Vistara")]

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
83304,8047,Vistara,A320,AMD,BOM,2023-03-05,439.0,01:09:00,3960.313385,1507.588273,Clear,4.485186,128
102974,8047,Vistara,B777,AMD,CCU,2023-08-08,1753.0,02:32:00,5143.983572,7359.807145,Cloudy,27.171770,252

In [95]:
def fnc(n):
    m=int(n)
    s=int((n-m)*60)
    

    time_str=f"{m:03d}:{s:03d}"
    return time_str

df["Delay_minutes"]=df["Delay_minutes"].apply(lambda x: fnc(x))

In [96]:
df.loc[(df["Flight_Number"]==8047)& (df["Airline"]=="Vistara")]

,Flight_Number,Airline,Aircraft_Type,Origin,Destination,Date,Distance_km,Duration_hours,Ticket_Price,Fuel_Cost,Weather_Condition,Delay_minutes,Passenger_Count
83304,8047,Vistara,A320,AMD,BOM,2023-03-05,439.0,01:09:00,3960.313385,1507.588273,Clear,004:029,128
102974,8047,Vistara,B777,AMD,CCU,2023-08-08,1753.0,02:32:00,5143.983572,7359.807145,Cloudy,027:010,252

In [97]:
df.to_csv("cleaned airline data.csv",index=False)